# Limpeza das bases

---

- Checagem dos IDs únicos
- Filtragem de alunos e escolas estaduais de ensino médio no RJ

Bases:
- Censo (2016 e 2017): dados de Matrículas e Escolas
- INSE (2015)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Censo-escolar" data-toc-modified-id="Censo-escolar-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Censo escolar</a></span><ul class="toc-item"><li><span><a href="#Matrículas" data-toc-modified-id="Matrículas-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Matrículas</a></span><ul class="toc-item"><li><span><a href="#Filtragem-de-alunos-em-escolas-estaduais-do-EM" data-toc-modified-id="Filtragem-de-alunos-em-escolas-estaduais-do-EM-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Filtragem de alunos em escolas estaduais do EM</a></span></li><li><span><a href="#Checando-ID-único" data-toc-modified-id="Checando-ID-único-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Checando ID único</a></span></li></ul></li><li><span><a href="#Escolas" data-toc-modified-id="Escolas-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Escolas</a></span><ul class="toc-item"><li><span><a href="#Filtrando-escolas-estaduais" data-toc-modified-id="Filtrando-escolas-estaduais-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Filtrando escolas estaduais</a></span></li></ul></li><li><span><a href="#INSE" data-toc-modified-id="INSE-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>INSE</a></span></li><li><span><a href="#Ideb" data-toc-modified-id="Ideb-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Ideb</a></span></li></ul></li><li><span><a href="#Fogo-Cruzado" data-toc-modified-id="Fogo-Cruzado-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Fogo Cruzado</a></span></li></ul></div>

In [3]:
from paths import RAW_PATH, TREAT_PATH
import os
import pandas as pd

## Censo escolar 

### Matrículas
- Filtragem de alunos do RJ no 1º ano do EM em escolas públicas estaduais (em 2016)
- Checagem do ID único: `ID_MATRICULA` não se mantém de um ano para outro (< 2% de 2016 aparece em 2017), usamos o `ID` do CPF criptografado
- Separando IDs duplicados

In [5]:
def unique_id(df):
    
    # Código único por pessoa
    v = df['ID'].value_counts()
    print('CPFs que aparecem mais de uma vez: ', len(v[v > 1]))

    # Separando duplicados
    duplicate = df[df['ID'].isin(v[v > 1].index)]
    df = df[df['ID'].isin(v[v > 1].index) == False]
    
    return df, duplicate

def clean_aluno(df_name):
    
    df = pd.read_csv(RAW_PATH / 'censo' / df_name)
    
    # Criptografa os CPFs
    df['ID'] = df['CO_PESSOA_FISICA']# .apply(hash)
    df = df.drop('CO_PESSOA_FISICA', axis=1)
    
    # Checa duplicados
    df, df_duplicate = unique_id(df)
    
    # Salva as bases tratadas
    clean_name = 'cleaned_'+str(df_name)
    duplicate_name = df_name[:-4]+'duplicado.csv'
    
    df.to_csv(TREAT_PATH / 'censo' / clean_name)
    df_duplicate.to_csv(TREAT_PATH / 'censo' / duplicate_name)
    
dfs = list(filter(lambda x: x.endswith('.csv'), os.listdir(RAW_PATH / 'censo')))

for df in dfs:
    if 'matricula' in df:
        clean_aluno(df)

CPFs que aparecem mais de uma vez:  331
CPFs que aparecem mais de uma vez:  687

In [7]:
df_aluno17 = pd.read_csv(TREAT_PATH / 'censo' / 'cleaned_matriculas_rj_2017.csv', index_col=0)
df_aluno16 = pd.read_csv(TREAT_PATH / 'censo' / 'cleaned_matriculas_rj_2016.csv', index_col=0)

In [8]:
df_aluno17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 551630 entries, 0 to 552291
Data columns (total 92 columns):
NU_ANO_CENSO                     551630 non-null int64
ID_MATRICULA                     551630 non-null int64
NU_DIA                           551630 non-null int64
NU_MES                           551630 non-null int64
NU_ANO                           551630 non-null int64
NU_IDADE_REFERENCIA              551630 non-null int64
NU_IDADE                         551630 non-null int64
NU_DURACAO_TURMA                 551630 non-null int64
NU_DUR_ATIV_COMP_MESMA_REDE      551630 non-null int64
NU_DUR_ATIV_COMP_OUTRAS_REDES    551630 non-null int64
NU_DUR_AEE_MESMA_REDE            551630 non-null int64
NU_DUR_AEE_OUTRAS_REDES          551630 non-null int64
NU_DIAS_ATIVIDADE                551630 non-null int64
TP_SEXO                          551630 non-null int64
TP_COR_RACA                      551630 non-null int64
TP_NACIONALIDADE                 551630 non-null int64
CO_PAIS_ORIGEM                   551630 non-null int64
CO_UF_NASC                       550344 non-null float64
CO_MUNICIPIO_NASC                550344 non-null float64
CO_UF_END                        141976 non-null float64
CO_MUNICIPIO_END                 141976 non-null float64
TP_ZONA_RESIDENCIAL              551630 non-null int64
TP_OUTRO_LOCAL_AULA              551630 non-null int64
IN_TRANSPORTE_PUBLICO            551630 non-null int64
TP_RESPONSAVEL_TRANSPORTE        297393 non-null float64
IN_TRANSP_VANS_KOMBI             297393 non-null float64
IN_TRANSP_MICRO_ONIBUS           297393 non-null float64
IN_TRANSP_ONIBUS                 297393 non-null float64
IN_TRANSP_BICICLETA              297393 non-null float64
IN_TRANSP_TR_ANIMAL              297393 non-null float64
IN_TRANSP_OUTRO_VEICULO          297393 non-null float64
IN_TRANSP_EMBAR_ATE5             297393 non-null float64
IN_TRANSP_EMBAR_5A15             297393 non-null float64
IN_TRANSP_EMBAR_15A35            297393 non-null float64
IN_TRANSP_EMBAR_35               297393 non-null float64
IN_TRANSP_TREM_METRO             297393 non-null float64
IN_NECESSIDADE_ESPECIAL          551630 non-null int64
IN_CEGUEIRA                      3758 non-null float64
IN_BAIXA_VISAO                   3758 non-null float64
IN_SURDEZ                        3758 non-null float64
IN_DEF_AUDITIVA                  3758 non-null float64
IN_SURDOCEGUEIRA                 3758 non-null float64
IN_DEF_FISICA                    3758 non-null float64
IN_DEF_INTELECTUAL               3758 non-null float64
IN_DEF_MULTIPLA                  3758 non-null float64
IN_AUTISMO                       3758 non-null float64
IN_SINDROME_ASPERGER             3758 non-null float64
IN_SINDROME_RETT                 3758 non-null float64
IN_TRANSTORNO_DI                 3758 non-null float64
IN_SUPERDOTACAO                  3758 non-null float64
IN_RECURSO_LEDOR                 3308 non-null float64
IN_RECURSO_TRANSCRICAO           3308 non-null float64
IN_RECURSO_INTERPRETE            3308 non-null float64
IN_RECURSO_LIBRAS                3308 non-null float64
IN_RECURSO_LABIAL                3308 non-null float64
IN_RECURSO_BRAILLE               3308 non-null float64
IN_RECURSO_AMPLIADA_16           3308 non-null float64
IN_RECURSO_AMPLIADA_20           3308 non-null float64
IN_RECURSO_AMPLIADA_24           3308 non-null float64
IN_RECURSO_NENHUM                3308 non-null float64
TP_INGRESSO_FEDERAIS             13039 non-null float64
TP_MEDIACAO_DIDATICO_PEDAGO      551630 non-null int64
IN_ESPECIAL_EXCLUSIVA            551630 non-null int64
IN_REGULAR                       551630 non-null int64
IN_EJA                           551630 non-null int64
IN_PROFISSIONALIZANTE            551630 non-null int64
TP_ETAPA_ENSINO                  551630 non-null int64
ID_TURMA                         551630 non-null int64
CO_CURSO_EDUC_PROFISSIONAL       27490 non-null float64
TP_UNIFICADA                     551630 non-null int64
TP_TIPO_TURMA                    551630 non-null int64
CO_ENTIDADE                      551630 non-null int64
CO_REGIAO                        551630 non-null int64
CO_MESORREGIAO                   551630 non-null int64
CO_MICRORREGIAO                  551630 non-null int64
CO_UF                            551630 non-null int64
CO_MUNICIPIO                     551630 non-null int64
CO_DISTRITO                      551630 non-null int64
TP_DEPENDENCIA                   551630 non-null int64
TP_LOCALIZACAO                   551630 non-null int64
TP_CATEGORIA_ESCOLA_PRIVADA      123372 non-null float64
IN_CONVENIADA_PP                 123372 non-null float64
TP_CONVENIO_PODER_PUBLICO        7985 non-null float64
IN_MANT_ESCOLA_PRIVADA_EMP       123372 non-null float64
IN_MANT_ESCOLA_PRIVADA_ONG       123372 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIND      123372 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIST_S    123372 non-null float64
IN_MANT_ESCOLA_PRIVADA_S_FINS    123372 non-null float64
TP_REGULAMENTACAO                551630 non-null int64
TP_LOCALIZACAO_DIFERENCIADA      551630 non-null int64
IN_EDUCACAO_INDIGENA             551630 non-null int64
ID                               551630 non-null int64
dtypes: float64(49), int64(43)
memory usage: 391.4 MB

In [9]:
df_aluno16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 570111 entries, 0 to 571484
Data columns (total 92 columns):
NU_ANO_CENSO                     570111 non-null int64
ID_MATRICULA                     570111 non-null int64
NU_DIA                           570111 non-null int64
NU_MES                           570111 non-null int64
NU_ANO                           570111 non-null int64
NU_IDADE_REFERENCIA              570111 non-null int64
NU_IDADE                         570111 non-null int64
NU_DURACAO_TURMA                 570111 non-null int64
NU_DUR_ATIV_COMP_MESMA_REDE      570111 non-null int64
NU_DUR_ATIV_COMP_OUTRAS_REDES    570111 non-null int64
NU_DUR_AEE_MESMA_REDE            570111 non-null int64
NU_DUR_AEE_OUTRAS_REDES          570111 non-null int64
NU_DIAS_ATIVIDADE                570111 non-null int64
TP_SEXO                          570111 non-null int64
TP_COR_RACA                      570111 non-null int64
TP_NACIONALIDADE                 570111 non-null int64
CO_PAIS_ORIGEM                   570111 non-null int64
CO_UF_NASC                       568709 non-null float64
CO_MUNICIPIO_NASC                568709 non-null float64
CO_UF_END                        149063 non-null float64
CO_MUNICIPIO_END                 149063 non-null float64
TP_ZONA_RESIDENCIAL              570111 non-null int64
TP_OUTRO_LOCAL_AULA              570111 non-null int64
IN_TRANSPORTE_PUBLICO            570111 non-null int64
TP_RESPONSAVEL_TRANSPORTE        315524 non-null float64
IN_TRANSP_VANS_KOMBI             315524 non-null float64
IN_TRANSP_MICRO_ONIBUS           315524 non-null float64
IN_TRANSP_ONIBUS                 315524 non-null float64
IN_TRANSP_BICICLETA              315524 non-null float64
IN_TRANSP_TR_ANIMAL              315524 non-null float64
IN_TRANSP_OUTRO_VEICULO          315524 non-null float64
IN_TRANSP_EMBAR_ATE5             315524 non-null float64
IN_TRANSP_EMBAR_5A15             315524 non-null float64
IN_TRANSP_EMBAR_15A35            315524 non-null float64
IN_TRANSP_EMBAR_35               315524 non-null float64
IN_TRANSP_TREM_METRO             315524 non-null float64
IN_NECESSIDADE_ESPECIAL          570111 non-null int64
IN_CEGUEIRA                      2922 non-null float64
IN_BAIXA_VISAO                   2922 non-null float64
IN_SURDEZ                        2922 non-null float64
IN_DEF_AUDITIVA                  2922 non-null float64
IN_SURDOCEGUEIRA                 2922 non-null float64
IN_DEF_FISICA                    2922 non-null float64
IN_DEF_INTELECTUAL               2922 non-null float64
IN_DEF_MULTIPLA                  2922 non-null float64
IN_AUTISMO                       2922 non-null float64
IN_SINDROME_ASPERGER             2922 non-null float64
IN_SINDROME_RETT                 2922 non-null float64
IN_TRANSTORNO_DI                 2922 non-null float64
IN_SUPERDOTACAO                  2922 non-null float64
IN_RECURSO_LEDOR                 2591 non-null float64
IN_RECURSO_TRANSCRICAO           2591 non-null float64
IN_RECURSO_INTERPRETE            2591 non-null float64
IN_RECURSO_LIBRAS                2591 non-null float64
IN_RECURSO_LABIAL                2591 non-null float64
IN_RECURSO_BRAILLE               2591 non-null float64
IN_RECURSO_AMPLIADA_16           2591 non-null float64
IN_RECURSO_AMPLIADA_20           2591 non-null float64
IN_RECURSO_AMPLIADA_24           2591 non-null float64
IN_RECURSO_NENHUM                2591 non-null float64
TP_INGRESSO_FEDERAIS             11870 non-null float64
TP_MEDIACAO_DIDATICO_PEDAGO      570111 non-null int64
IN_ESPECIAL_EXCLUSIVA            570111 non-null int64
IN_REGULAR                       570111 non-null int64
IN_EJA                           570111 non-null int64
IN_PROFISSIONALIZANTE            570111 non-null int64
TP_ETAPA_ENSINO                  570111 non-null int64
ID_TURMA                         570111 non-null int64
CO_CURSO_EDUC_PROFISSIONAL       29865 non-null float64
TP_UNIFICADA                     570111 non-null int64
TP_TIPO_TURMA                    570111 non-null int64
CO_ENTIDADE                      570111 non-null int64
CO_REGIAO                        570111 non-null int64
CO_MESORREGIAO                   570111 non-null int64
CO_MICRORREGIAO                  570111 non-null int64
CO_UF                            570111 non-null int64
CO_MUNICIPIO                     570111 non-null int64
CO_DISTRITO                      570111 non-null int64
TP_DEPENDENCIA                   570111 non-null int64
TP_LOCALIZACAO                   570111 non-null int64
TP_CATEGORIA_ESCOLA_PRIVADA      123137 non-null float64
IN_CONVENIADA_PP                 123137 non-null float64
TP_CONVENIO_PODER_PUBLICO        9849 non-null float64
IN_MANT_ESCOLA_PRIVADA_EMP       123137 non-null float64
IN_MANT_ESCOLA_PRIVADA_ONG       123137 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIND      123137 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIST_S    123137 non-null float64
IN_MANT_ESCOLA_PRIVADA_S_FINS    123137 non-null float64
TP_REGULAMENTACAO                570111 non-null int64
TP_LOCALIZACAO_DIFERENCIADA      570111 non-null int64
IN_EDUCACAO_INDIGENA             570111 non-null int64
ID                               570111 non-null int64
dtypes: float64(49), int64(43)
memory usage: 404.5 MB

#### Filtragem de alunos em escolas estaduais do EM

In [10]:
df_aluno16 = df_aluno16[df_aluno16['TP_ETAPA_ENSINO'].isin([25, 31])] 
df_aluno16 = df_aluno16[df_aluno16['TP_DEPENDENCIA'] == 2] # Escolas estaduais

df_aluno16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182838 entries, 118 to 553389
Data columns (total 92 columns):
NU_ANO_CENSO                     182838 non-null int64
ID_MATRICULA                     182838 non-null int64
NU_DIA                           182838 non-null int64
NU_MES                           182838 non-null int64
NU_ANO                           182838 non-null int64
NU_IDADE_REFERENCIA              182838 non-null int64
NU_IDADE                         182838 non-null int64
NU_DURACAO_TURMA                 182838 non-null int64
NU_DUR_ATIV_COMP_MESMA_REDE      182838 non-null int64
NU_DUR_ATIV_COMP_OUTRAS_REDES    182838 non-null int64
NU_DUR_AEE_MESMA_REDE            182838 non-null int64
NU_DUR_AEE_OUTRAS_REDES          182838 non-null int64
NU_DIAS_ATIVIDADE                182838 non-null int64
TP_SEXO                          182838 non-null int64
TP_COR_RACA                      182838 non-null int64
TP_NACIONALIDADE                 182838 non-null int64
CO_PAIS_ORIGEM                   182838 non-null int64
CO_UF_NASC                       182737 non-null float64
CO_MUNICIPIO_NASC                182737 non-null float64
CO_UF_END                        11814 non-null float64
CO_MUNICIPIO_END                 11814 non-null float64
TP_ZONA_RESIDENCIAL              182838 non-null int64
TP_OUTRO_LOCAL_AULA              182838 non-null int64
IN_TRANSPORTE_PUBLICO            182838 non-null int64
TP_RESPONSAVEL_TRANSPORTE        121962 non-null float64
IN_TRANSP_VANS_KOMBI             121962 non-null float64
IN_TRANSP_MICRO_ONIBUS           121962 non-null float64
IN_TRANSP_ONIBUS                 121962 non-null float64
IN_TRANSP_BICICLETA              121962 non-null float64
IN_TRANSP_TR_ANIMAL              121962 non-null float64
IN_TRANSP_OUTRO_VEICULO          121962 non-null float64
IN_TRANSP_EMBAR_ATE5             121962 non-null float64
IN_TRANSP_EMBAR_5A15             121962 non-null float64
IN_TRANSP_EMBAR_15A35            121962 non-null float64
IN_TRANSP_EMBAR_35               121962 non-null float64
IN_TRANSP_TREM_METRO             121962 non-null float64
IN_NECESSIDADE_ESPECIAL          182838 non-null int64
IN_CEGUEIRA                      964 non-null float64
IN_BAIXA_VISAO                   964 non-null float64
IN_SURDEZ                        964 non-null float64
IN_DEF_AUDITIVA                  964 non-null float64
IN_SURDOCEGUEIRA                 964 non-null float64
IN_DEF_FISICA                    964 non-null float64
IN_DEF_INTELECTUAL               964 non-null float64
IN_DEF_MULTIPLA                  964 non-null float64
IN_AUTISMO                       964 non-null float64
IN_SINDROME_ASPERGER             964 non-null float64
IN_SINDROME_RETT                 964 non-null float64
IN_TRANSTORNO_DI                 964 non-null float64
IN_SUPERDOTACAO                  964 non-null float64
IN_RECURSO_LEDOR                 877 non-null float64
IN_RECURSO_TRANSCRICAO           877 non-null float64
IN_RECURSO_INTERPRETE            877 non-null float64
IN_RECURSO_LIBRAS                877 non-null float64
IN_RECURSO_LABIAL                877 non-null float64
IN_RECURSO_BRAILLE               877 non-null float64
IN_RECURSO_AMPLIADA_16           877 non-null float64
IN_RECURSO_AMPLIADA_20           877 non-null float64
IN_RECURSO_AMPLIADA_24           877 non-null float64
IN_RECURSO_NENHUM                877 non-null float64
TP_INGRESSO_FEDERAIS             0 non-null float64
TP_MEDIACAO_DIDATICO_PEDAGO      182838 non-null int64
IN_ESPECIAL_EXCLUSIVA            182838 non-null int64
IN_REGULAR                       182838 non-null int64
IN_EJA                           182838 non-null int64
IN_PROFISSIONALIZANTE            182838 non-null int64
TP_ETAPA_ENSINO                  182838 non-null int64
ID_TURMA                         182838 non-null int64
CO_CURSO_EDUC_PROFISSIONAL       4176 non-null float64
TP_UNIFICADA                     182838 non-null int64
TP_TIPO_TURMA                    182838 non-null int64
CO_ENTIDADE                      182838 non-null int64
CO_REGIAO                        182838 non-null int64
CO_MESORREGIAO                   182838 non-null int64
CO_MICRORREGIAO                  182838 non-null int64
CO_UF                            182838 non-null int64
CO_MUNICIPIO                     182838 non-null int64
CO_DISTRITO                      182838 non-null int64
TP_DEPENDENCIA                   182838 non-null int64
TP_LOCALIZACAO                   182838 non-null int64
TP_CATEGORIA_ESCOLA_PRIVADA      0 non-null float64
IN_CONVENIADA_PP                 0 non-null float64
TP_CONVENIO_PODER_PUBLICO        0 non-null float64
IN_MANT_ESCOLA_PRIVADA_EMP       0 non-null float64
IN_MANT_ESCOLA_PRIVADA_ONG       0 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIND      0 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIST_S    0 non-null float64
IN_MANT_ESCOLA_PRIVADA_S_FINS    0 non-null float64
TP_REGULAMENTACAO                182838 non-null int64
TP_LOCALIZACAO_DIFERENCIADA      182838 non-null int64
IN_EDUCACAO_INDIGENA             182838 non-null int64
ID                               182838 non-null int64
dtypes: float64(49), int64(43)
memory usage: 129.7 MB

#### Checando ID único

- Ambos são únicos por ano, mas `ID_MATRICULA` não se mantém de um ano para outro

In [11]:
df_aluno16['ID_MATRICULA'].value_counts()[:5]

208668671    1
210148729    1
210888086    1
211418517    1
211154324    1
Name: ID_MATRICULA, dtype: int64

In [12]:
df_aluno17['ID_MATRICULA'].value_counts()[:5]

222300159    1
247419713    1
237785889    1
247233316    1
247231269    1
Name: ID_MATRICULA, dtype: int64

- ID_MATRICULA: Só 1,4% de 2016 aparece em 2017

In [13]:
n = len(df_aluno16[df_aluno16['ID_MATRICULA'].isin(df_aluno17['ID_MATRICULA'])])

print('ID_MATRICULA de 2016 que aparece em 2017:', n)
print('Percentual (de 2016):', 100*n/len(df_aluno16))

ID_MATRICULA de 2016 que aparece em 2017: 2590
Percentual (de 2016): 1.4165545455539876

- ID (CPF criptografado): Mais de 60% de 2016 aparece em 2017 (mais razoável, dado que entram novos alunos e saem também)

In [14]:
n = len(df_aluno16[df_aluno16['ID'].isin(df_aluno17['ID'])])

print('ID de 2016 que aparece em 2017:', n)
print('Percentual (de 2016):', 100*n/len(df_aluno16))

ID de 2016 que aparece em 2017: 120955
Percentual (de 2016): 66.15419114188516

In [15]:
del df_aluno16['ID_MATRICULA']
del df_aluno17['ID_MATRICULA']

* Total de escolas dos alunos de 2016:

In [16]:
print('Total de escolas:', len(df_aluno16['CO_ENTIDADE'].unique()))

Total de escolas: 1097

### Escolas

- Total de 166 variáveis, 121 indicadores

In [19]:
escolas_16 = pd.read_csv(RAW_PATH / 'censo' / 'escolas_2016.csv', encoding='latin1', sep='|')
escolas_16.info()

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (3,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279358 entries, 0 to 279357
Columns: 166 entries, NU_ANO_CENSO to IN_ESP_EXCLUSIVA_PROF
dtypes: float64(151), int64(11), object(4)
memory usage: 353.8+ MB

In [20]:
print('Número de variáveis:', len(escolas_16.columns.values))

Número de variáveis: 166

In [21]:
indicadores = [i for i in escolas_16.columns if i.startswith('IN')]
print('Número de indicadores:', len(indicadores))

Número de indicadores: 121

#### Filtrando escolas estaduais

- 1689 escolas estaduais no RJ

In [22]:
escolas_16 = escolas_16[escolas_16['TP_DEPENDENCIA'] == 2] # Escolas estaduais
escolas_16 = escolas_16[escolas_16['CO_UF'] == 33] # no RJ

escolas_16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1689 entries, 4012 to 275339
Columns: 166 entries, NU_ANO_CENSO to IN_ESP_EXCLUSIVA_PROF
dtypes: float64(151), int64(11), object(4)
memory usage: 2.2+ MB

In [23]:
escolas_16.to_csv(TREAT_PATH / 'censo' / 'cleaned_escolas_rj_2016.csv')

### INSE

- 936 escolas possuem nível socioeconômico

In [24]:
# Nível socioeconômico
# ! pip3 install xlrd

df_inse_2015 = pd.read_excel(RAW_PATH / 'INSE_2015.xlsx')
df_inse_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63258 entries, 0 to 63257
Data columns (total 12 columns):
CO_ESCOLA              63258 non-null int64
NOME_ESCOLA            63258 non-null object
CO_UF                  63258 non-null int64
NOME_UF                63258 non-null object
CO_MUNICIPIO           63258 non-null int64
NOME_MUNICIPIO         63258 non-null int64
ID_AREA                63258 non-null int64
TP_DEPENDENCIA         63258 non-null int64
TP_LOCALIZACAO         63258 non-null int64
QTD_ALUNOS_INSE        63258 non-null int64
INSE_VALOR_ABSOLUTO    63258 non-null float64
INSE_CLASSIFICACAO     63258 non-null object
dtypes: float64(1), int64(8), object(3)
memory usage: 5.8+ MB

In [25]:
df_inse_2015 = df_inse_2015[df_inse_2015['TP_DEPENDENCIA'] == 2] # Escolas estaduais
df_inse_2015 = df_inse_2015[df_inse_2015['CO_UF'] == 33] # no RJ

In [26]:
df_inse_2015['NIVEL'] = df_inse_2015['INSE_CLASSIFICACAO'].apply(lambda x: int(x.split()[1]))
df_inse_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 936 entries, 33485 to 37804
Data columns (total 13 columns):
CO_ESCOLA              936 non-null int64
NOME_ESCOLA            936 non-null object
CO_UF                  936 non-null int64
NOME_UF                936 non-null object
CO_MUNICIPIO           936 non-null int64
NOME_MUNICIPIO         936 non-null int64
ID_AREA                936 non-null int64
TP_DEPENDENCIA         936 non-null int64
TP_LOCALIZACAO         936 non-null int64
QTD_ALUNOS_INSE        936 non-null int64
INSE_VALOR_ABSOLUTO    936 non-null float64
INSE_CLASSIFICACAO     936 non-null object
NIVEL                  936 non-null int64
dtypes: float64(1), int64(9), object(3)
memory usage: 102.4+ KB

In [27]:
df_inse_2015.to_csv(TREAT_PATH / 'inse_2015_rj.csv')

### Ideb

In [17]:
df_ideb = pd.read_excel(RAW_PATH / 'saeb' / 'divulgacao_anos_finais-escolas-2017.xlsx', header=4)
df_ideb.head()

,Sigla da UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Rede,Taxa de Aprovação - 2005,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,IDEB 2015 (N x P),IDEB 2017 (N x P),Projeções,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,6º a 9º ano,6º,7º,8º,...,NaN,NaN,2007,2009,2011,2013,2015,2017,2019,2021
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RO,1100015.0,Alta Floresta D'Oeste,11024666.0,EMEIEF BOA ESPERANCA,Municipal,-,-,-,-,...,-,4.1,-,-,4.3,4.6,4.9,5.2,5.4,5.7
4,RO,1100015.0,Alta Floresta D'Oeste,11024682.0,EEEF EURIDICE LOPES PEDROSO,Estadual,81,75.6,86.2,84.5,...,-,-,3.9,4.1,4.3,4.7,5.1,5.4,5.6,5.8

In [18]:
cols = df_ideb.columns

new_cols_name = ['sigla_uf', 'cod_municipio', 'nome_municipio', 'cod_inep', 'nome_escola', 'rede']
anos = [2005 + 2*i for i in range(7)]

taxa = ['taxa_aprovacao_{}_{}'.format(ano, serie) for ano in anos for serie in ['todos']+list(range(6,10))+['indicador']]
saeb = ['saeb_{}_{}'.format(ano, mod) for ano in anos for mod in ['mat', 'pt', 'media_padrao']]
ideb = ['ideb_{}'.format(ano) for ano in anos]
projecoes = ['projecoes_{}'.format(ano) for ano in anos[1:]+['2019', '2021']]


new_cols_name  = new_cols_name + taxa + saeb + ideb + projecoes

ideb_dic_cols = dict(zip(new_cols_name, cols))
ideb_dic_cols

{'sigla_uf': 'Sigla da UF',
 'cod_municipio': 'Código do Município',
 'nome_municipio': 'Nome do Município',
 'cod_inep': 'Código da Escola',
 'nome_escola': 'Nome da Escola',
 'rede': 'Rede',
 'taxa_aprovacao_2005_todos': 'Taxa de Aprovação - 2005',
 'taxa_aprovacao_2005_6': 'Unnamed: 7',
 'taxa_aprovacao_2005_7': 'Unnamed: 8',
 'taxa_aprovacao_2005_8': 'Unnamed: 9',
 'taxa_aprovacao_2005_9': 'Unnamed: 10',
 'taxa_aprovacao_2005_indicador': 'Unnamed: 11',
 'taxa_aprovacao_2007_todos': 'Taxa de Aprovação - 2007',
 'taxa_aprovacao_2007_6': 'Unnamed: 13',
 'taxa_aprovacao_2007_7': 'Unnamed: 14',
 'taxa_aprovacao_2007_8': 'Unnamed: 15',
 'taxa_aprovacao_2007_9': 'Unnamed: 16',
 'taxa_aprovacao_2007_indicador': 'Unnamed: 17',
 'taxa_aprovacao_2009_todos': 'Taxa de Aprovação - 2009',
 'taxa_aprovacao_2009_6': 'Unnamed: 19',
 'taxa_aprovacao_2009_7': 'Unnamed: 20',
 'taxa_aprovacao_2009_8': 'Unnamed: 21',
 'taxa_aprovacao_2009_9': 'Unnamed: 22',
 'taxa_aprovacao_2009_indicador': 'Unnamed: 23',
 'taxa_aprovacao_2011_todos': 'Taxa de Aprovação - 2011',
 'taxa_aprovacao_2011_6': 'Unnamed: 25',
 'taxa_aprovacao_2011_7': 'Unnamed: 26',
 'taxa_aprovacao_2011_8': 'Unnamed: 27',
 'taxa_aprovacao_2011_9': 'Unnamed: 28',
 'taxa_aprovacao_2011_indicador': 'Unnamed: 29',
 'taxa_aprovacao_2013_todos': 'Taxa de Aprovação - 2013',
 'taxa_aprovacao_2013_6': 'Unnamed: 31',
 'taxa_aprovacao_2013_7': 'Unnamed: 32',
 'taxa_aprovacao_2013_8': 'Unnamed: 33',
 'taxa_aprovacao_2013_9': 'Unnamed: 34',
 'taxa_aprovacao_2013_indicador': 'Unnamed: 35',
 'taxa_aprovacao_2015_todos': 'Taxa de Aprovação - 2015',
 'taxa_aprovacao_2015_6': 'Unnamed: 37',
 'taxa_aprovacao_2015_7': 'Unnamed: 38',
 'taxa_aprovacao_2015_8': 'Unnamed: 39',
 'taxa_aprovacao_2015_9': 'Unnamed: 40',
 'taxa_aprovacao_2015_indicador': 'Unnamed: 41',
 'taxa_aprovacao_2017_todos': 'Taxa de Aprovação - 2017',
 'taxa_aprovacao_2017_6': 'Unnamed: 43',
 'taxa_aprovacao_2017_7': 'Unnamed: 44',
 'taxa_aprovacao_2017_8': 'Unnamed: 45',
 'taxa_aprovacao_2017_9': 'Unnamed: 46',
 'taxa_aprovacao_2017_indicador': 'Unnamed: 47',
 'saeb_2005_mat': 'Nota SAEB - 2005',
 'saeb_2005_pt': 'Unnamed: 49',
 'saeb_2005_media_padrao': 'Unnamed: 50',
 'saeb_2007_mat': 'Nota SAEB - 2007',
 'saeb_2007_pt': 'Unnamed: 52',
 'saeb_2007_media_padrao': 'Unnamed: 53',
 'saeb_2009_mat': 'Nota SAEB - 2009',
 'saeb_2009_pt': 'Unnamed: 55',
 'saeb_2009_media_padrao': 'Unnamed: 56',
 'saeb_2011_mat': 'Nota SAEB - 2011',
 'saeb_2011_pt': 'Unnamed: 58',
 'saeb_2011_media_padrao': 'Unnamed: 59',
 'saeb_2013_mat': 'Nota SAEB - 2013',
 'saeb_2013_pt': 'Unnamed: 61',
 'saeb_2013_media_padrao': 'Unnamed: 62',
 'saeb_2015_mat': 'Nota SAEB - 2015',
 'saeb_2015_pt': 'Unnamed: 64',
 'saeb_2015_media_padrao': 'Unnamed: 65',
 'saeb_2017_mat': 'Nota SAEB - 2017',
 'saeb_2017_pt': 'Unnamed: 67',
 'saeb_2017_media_padrao': 'Unnamed: 68',
 'ideb_2005': 'IDEB\n2005\n(N x P)',
 'ideb_2007': 'IDEB\n2007\n(N x P)',
 'ideb_2009': 'IDEB\n2009\n(N x P)',
 'ideb_2011': 'IDEB\n2011\n(N x P)',
 'ideb_2013': 'IDEB\n2013\n(N x P)',
 'ideb_2015': 'IDEB\n2015\n(N x P)',
 'ideb_2017': 'IDEB\n2017\n(N x P)',
 'projecoes_2007': 'Projeções',
 'projecoes_2009': 'Unnamed: 77',
 'projecoes_2011': 'Unnamed: 78',
 'projecoes_2013': 'Unnamed: 79',
 'projecoes_2015': 'Unnamed: 80',
 'projecoes_2017': 'Unnamed: 81',
 'projecoes_2019': 'Unnamed: 82',
 'projecoes_2021': 'Unnamed: 83'}

In [19]:
df_ideb = df_ideb.drop([0,1,2], axis='index')
df_ideb = df_ideb.drop([43610, 43611, 43612], axis=0) # notas

df_ideb.columns = [i.upper() for i in ideb_dic_cols.keys()]
df_ideb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43607 entries, 3 to 43609
Data columns (total 84 columns):
SIGLA_UF                         43607 non-null object
COD_MUNICIPIO                    43607 non-null float64
NOME_MUNICIPIO                   43607 non-null object
COD_INEP                         43607 non-null float64
NOME_ESCOLA                      43607 non-null object
REDE                             43607 non-null object
TAXA_APROVACAO_2005_TODOS        43607 non-null object
TAXA_APROVACAO_2005_6            43607 non-null object
TAXA_APROVACAO_2005_7            43607 non-null object
TAXA_APROVACAO_2005_8            43607 non-null object
TAXA_APROVACAO_2005_9            43607 non-null object
TAXA_APROVACAO_2005_INDICADOR    43607 non-null object
TAXA_APROVACAO_2007_TODOS        43607 non-null object
TAXA_APROVACAO_2007_6            43607 non-null object
TAXA_APROVACAO_2007_7            43607 non-null object
TAXA_APROVACAO_2007_8            43607 non-null object
TAXA_APROVACAO_2007_9            43607 non-null object
TAXA_APROVACAO_2007_INDICADOR    43607 non-null object
TAXA_APROVACAO_2009_TODOS        43607 non-null object
TAXA_APROVACAO_2009_6            43607 non-null object
TAXA_APROVACAO_2009_7            43607 non-null object
TAXA_APROVACAO_2009_8            43607 non-null object
TAXA_APROVACAO_2009_9            43607 non-null object
TAXA_APROVACAO_2009_INDICADOR    43607 non-null object
TAXA_APROVACAO_2011_TODOS        43607 non-null object
TAXA_APROVACAO_2011_6            43607 non-null object
TAXA_APROVACAO_2011_7            43607 non-null object
TAXA_APROVACAO_2011_8            43607 non-null object
TAXA_APROVACAO_2011_9            43607 non-null object
TAXA_APROVACAO_2011_INDICADOR    43607 non-null object
TAXA_APROVACAO_2013_TODOS        43607 non-null object
TAXA_APROVACAO_2013_6            43607 non-null object
TAXA_APROVACAO_2013_7            43607 non-null object
TAXA_APROVACAO_2013_8            43607 non-null object
TAXA_APROVACAO_2013_9            43607 non-null object
TAXA_APROVACAO_2013_INDICADOR    43607 non-null object
TAXA_APROVACAO_2015_TODOS        43607 non-null object
TAXA_APROVACAO_2015_6            43607 non-null object
TAXA_APROVACAO_2015_7            43607 non-null object
TAXA_APROVACAO_2015_8            43607 non-null object
TAXA_APROVACAO_2015_9            43607 non-null object
TAXA_APROVACAO_2015_INDICADOR    43607 non-null object
TAXA_APROVACAO_2017_TODOS        43607 non-null object
TAXA_APROVACAO_2017_6            43607 non-null object
TAXA_APROVACAO_2017_7            43607 non-null object
TAXA_APROVACAO_2017_8            43607 non-null object
TAXA_APROVACAO_2017_9            43607 non-null object
TAXA_APROVACAO_2017_INDICADOR    43607 non-null object
SAEB_2005_MAT                    43607 non-null object
SAEB_2005_PT                     43607 non-null object
SAEB_2005_MEDIA_PADRAO           43607 non-null object
SAEB_2007_MAT                    43607 non-null object
SAEB_2007_PT                     43607 non-null object
SAEB_2007_MEDIA_PADRAO           43607 non-null object
SAEB_2009_MAT                    43607 non-null object
SAEB_2009_PT                     43607 non-null object
SAEB_2009_MEDIA_PADRAO           43607 non-null object
SAEB_2011_MAT                    43607 non-null object
SAEB_2011_PT                     43607 non-null object
SAEB_2011_MEDIA_PADRAO           43607 non-null object
SAEB_2013_MAT                    43607 non-null object
SAEB_2013_PT                     43607 non-null object
SAEB_2013_MEDIA_PADRAO           43607 non-null object
SAEB_2015_MAT                    43607 non-null object
SAEB_2015_PT                     43607 non-null object
SAEB_2015_MEDIA_PADRAO           43607 non-null object
SAEB_2017_MAT                    43607 non-null object
SAEB_2017_PT                     43607 non-null object
SAEB_2017_MEDIA_PADRAO           43607 non-null object
IDEB_2005                        43607 non-null object
IDEB_2007                        43607 non-null object
IDEB_2009                        43607 non-null object
IDEB_2011                        43607 non-null object
IDEB_2013                        43607 non-null object
IDEB_2015                        43607 non-null object
IDEB_2017                        43607 non-null object
PROJECOES_2007                   43607 non-null object
PROJECOES_2009                   43607 non-null object
PROJECOES_2011                   43607 non-null object
PROJECOES_2013                   43607 non-null object
PROJECOES_2015                   43607 non-null object
PROJECOES_2017                   43607 non-null object
PROJECOES_2019                   43607 non-null object
PROJECOES_2021                   43607 non-null object
dtypes: float64(2), object(82)
memory usage: 28.3+ MB

In [20]:
df_ideb.tail(2)

,SIGLA_UF,COD_MUNICIPIO,NOME_MUNICIPIO,COD_INEP,NOME_ESCOLA,REDE,TAXA_APROVACAO_2005_TODOS,TAXA_APROVACAO_2005_6,TAXA_APROVACAO_2005_7,TAXA_APROVACAO_2005_8,...,IDEB_2015,IDEB_2017,PROJECOES_2007,PROJECOES_2009,PROJECOES_2011,PROJECOES_2013,PROJECOES_2015,PROJECOES_2017,PROJECOES_2019,PROJECOES_2021
43608,DF,5300108.0,Brasília,53068149.0,CEF 32 DE CEILANDIA,Estadual,-,-,-,-,...,3.8,4,-,-,-,-,4.1,4.4,4.6,4.9
43609,DF,5300108.0,Brasília,53068211.0,CEF MIGUEL ARCANJO,Estadual,-,-,-,-,...,4.2,-,-,-,-,-,4,4.2,4.5,4.7

In [21]:
df_ideb = df_ideb[df_ideb['REDE'] == 'Estadual']
df_ideb = df_ideb[df_ideb['SIGLA_UF'] == 'RJ']

df_ideb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 967 entries, 25378 to 27683
Data columns (total 84 columns):
SIGLA_UF                         967 non-null object
COD_MUNICIPIO                    967 non-null float64
NOME_MUNICIPIO                   967 non-null object
COD_INEP                         967 non-null float64
NOME_ESCOLA                      967 non-null object
REDE                             967 non-null object
TAXA_APROVACAO_2005_TODOS        967 non-null object
TAXA_APROVACAO_2005_6            967 non-null object
TAXA_APROVACAO_2005_7            967 non-null object
TAXA_APROVACAO_2005_8            967 non-null object
TAXA_APROVACAO_2005_9            967 non-null object
TAXA_APROVACAO_2005_INDICADOR    967 non-null object
TAXA_APROVACAO_2007_TODOS        967 non-null object
TAXA_APROVACAO_2007_6            967 non-null object
TAXA_APROVACAO_2007_7            967 non-null object
TAXA_APROVACAO_2007_8            967 non-null object
TAXA_APROVACAO_2007_9            967 non-null object
TAXA_APROVACAO_2007_INDICADOR    967 non-null object
TAXA_APROVACAO_2009_TODOS        967 non-null object
TAXA_APROVACAO_2009_6            967 non-null object
TAXA_APROVACAO_2009_7            967 non-null object
TAXA_APROVACAO_2009_8            967 non-null object
TAXA_APROVACAO_2009_9            967 non-null object
TAXA_APROVACAO_2009_INDICADOR    967 non-null object
TAXA_APROVACAO_2011_TODOS        967 non-null object
TAXA_APROVACAO_2011_6            967 non-null object
TAXA_APROVACAO_2011_7            967 non-null object
TAXA_APROVACAO_2011_8            967 non-null object
TAXA_APROVACAO_2011_9            967 non-null object
TAXA_APROVACAO_2011_INDICADOR    967 non-null object
TAXA_APROVACAO_2013_TODOS        967 non-null object
TAXA_APROVACAO_2013_6            967 non-null object
TAXA_APROVACAO_2013_7            967 non-null object
TAXA_APROVACAO_2013_8            967 non-null object
TAXA_APROVACAO_2013_9            967 non-null object
TAXA_APROVACAO_2013_INDICADOR    967 non-null object
TAXA_APROVACAO_2015_TODOS        967 non-null object
TAXA_APROVACAO_2015_6            967 non-null object
TAXA_APROVACAO_2015_7            967 non-null object
TAXA_APROVACAO_2015_8            967 non-null object
TAXA_APROVACAO_2015_9            967 non-null object
TAXA_APROVACAO_2015_INDICADOR    967 non-null object
TAXA_APROVACAO_2017_TODOS        967 non-null object
TAXA_APROVACAO_2017_6            967 non-null object
TAXA_APROVACAO_2017_7            967 non-null object
TAXA_APROVACAO_2017_8            967 non-null object
TAXA_APROVACAO_2017_9            967 non-null object
TAXA_APROVACAO_2017_INDICADOR    967 non-null object
SAEB_2005_MAT                    967 non-null object
SAEB_2005_PT                     967 non-null object
SAEB_2005_MEDIA_PADRAO           967 non-null object
SAEB_2007_MAT                    967 non-null object
SAEB_2007_PT                     967 non-null object
SAEB_2007_MEDIA_PADRAO           967 non-null object
SAEB_2009_MAT                    967 non-null object
SAEB_2009_PT                     967 non-null object
SAEB_2009_MEDIA_PADRAO           967 non-null object
SAEB_2011_MAT                    967 non-null object
SAEB_2011_PT                     967 non-null object
SAEB_2011_MEDIA_PADRAO           967 non-null object
SAEB_2013_MAT                    967 non-null object
SAEB_2013_PT                     967 non-null object
SAEB_2013_MEDIA_PADRAO           967 non-null object
SAEB_2015_MAT                    967 non-null object
SAEB_2015_PT                     967 non-null object
SAEB_2015_MEDIA_PADRAO           967 non-null object
SAEB_2017_MAT                    967 non-null object
SAEB_2017_PT                     967 non-null object
SAEB_2017_MEDIA_PADRAO           967 non-null object
IDEB_2005                        967 non-null object
IDEB_2007                        967 non-null object
IDEB_2009                        967 non-null object
IDEB_2011                        967 non-null object
IDEB_2013                        967 non-null object
IDEB_2015                        967 non-null object
IDEB_2017                        967 non-null object
PROJECOES_2007                   967 non-null object
PROJECOES_2009                   967 non-null object
PROJECOES_2011                   967 non-null object
PROJECOES_2013                   967 non-null object
PROJECOES_2015                   967 non-null object
PROJECOES_2017                   967 non-null object
PROJECOES_2019                   967 non-null object
PROJECOES_2021                   967 non-null object
dtypes: float64(2), object(82)
memory usage: 642.1+ KB

In [30]:
df_ideb['SAEB_2015_MEDIA_PADRAO'].value_counts()[:10]

-                   259
4.76833333333333      2
4.33916666666667      2
5.607                 2
5.06066666666667      2
4.51983333333333      2
3.79433333333333      2
4.281                 2
4.64516666666667      2
4.49933333333333      2
Name: SAEB_2015_MEDIA_PADRAO, dtype: int64

In [32]:
df_ideb['TAXA_APROVACAO_2015_9'].value_counts()[:10]

-       252
100      35
92.6     10
83.3      9
75        9
92.3      9
88.5      8
85.5      7
91.3      7
88.2      7
Name: TAXA_APROVACAO_2015_9, dtype: int64

In [31]:
df_ideb['IDEB_2015'].value_counts()[:10]

-      259
4       42
3.6     40
3.8     40
3.7     40
3       34
3.9     32
4.2     31
4.5     31
3.5     30
Name: IDEB_2015, dtype: int64

In [27]:
len(df_ideb[df_ideb['IDEB_2015'] != '-'])

708

In [34]:
df_ideb.to_csv(TREAT_PATH / 'ideb_2015_rj.csv')

## Fogo Cruzado

In [41]:
fogo_2016 = pd.read_csv(RAW_PATH / 'fogo_cruzado_tiroteios.csv', sep=';', encoding='latin-1')
fogo_2016.head()

,id_ocorrencia,local_ocorrencia,latitude_ocorrencia,longitude_ocorrencia,data_ocorrencia,hora_ocorrencia,presen_agen_segur_ocorrencia,qtd_morto_civil_ocorrencia,qtd_morto_agen_segur_ocorrencia,qtd_ferido_civil_ocorrencia,...,cidade_id,nome_cidade,cod_ibge_cidade,gentilico_cidade,populacao_cidade,area_cidade,densidade_demo_cidade,nome_estado,uf_estado,cod_ibge_estado
0,16,"Santa Cruz, Rio de Janeiro - RJ, Brasil",-22.919651,-43.684387,05/07/2016,6:02:00,1,0,1,0,...,3661,Rio de Janeiro,3304557,carioca,6320446,119746,5.27,Rio de Janeiro,RJ,33
1,17,"Rua Barão - Praça Seca, Rio de Janeiro - RJ, B...",-22.898642,-43.352360,05/07/2016,13:44:00,1,0,0,0,...,3661,Rio de Janeiro,3304557,carioca,6320446,119746,5.27,Rio de Janeiro,RJ,33
2,18,"Estrada da Covanca - Tanque, Rio de Janeiro - ...",-22.914858,-43.348198,05/07/2016,13:48:00,1,0,0,0,...,3661,Rio de Janeiro,3304557,carioca,6320446,119746,5.27,Rio de Janeiro,RJ,33
3,21,"Complexo do Alemão, Rio de Janeiro - RJ, Brasil",-22.859333,-43.275475,05/07/2016,16:32:00,0,0,0,0,...,3661,Rio de Janeiro,3304557,carioca,6320446,119746,5.27,Rio de Janeiro,RJ,33
4,22,"Santa Cruz, Rio de Janeiro - RJ, Brasil",-22.919651,-43.684387,05/07/2016,16:35:00,0,0,0,0,...,3661,Rio de Janeiro,3304557,carioca,6320446,119746,5.27,Rio de Janeiro,RJ,33

In [46]:
import geopandas as gpd
from shapely.geometry import Point

fogo_2016 = gpd.GeoDataFrame(fogo_2016, geometry=[Point(x, y) for x, y in zip(fogo_2016['longitude_ocorrencia'], fogo_2016['latitude_ocorrencia'])])
fogo_2016.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2204 entries, 0 to 2203
Data columns (total 24 columns):
id_ocorrencia                       2204 non-null int64
local_ocorrencia                    2204 non-null object
latitude_ocorrencia                 2204 non-null float64
longitude_ocorrencia                2204 non-null float64
data_ocorrencia                     2204 non-null object
hora_ocorrencia                     2204 non-null object
presen_agen_segur_ocorrencia        2204 non-null int64
qtd_morto_civil_ocorrencia          2204 non-null int64
qtd_morto_agen_segur_ocorrencia     2204 non-null int64
qtd_ferido_civil_ocorrencia         2204 non-null int64
qtd_ferido_agen_segur_ocorrencia    2204 non-null int64
fonte_ocorrencia                    2204 non-null int64
estado_id                           2204 non-null int64
cidade_id                           2204 non-null int64
nome_cidade                         2204 non-null object
cod_ibge_cidade                     2204 non-null int64
gentilico_cidade                    2204 non-null object
populacao_cidade                    2204 non-null int64
area_cidade                         2204 non-null int64
densidade_demo_cidade               2204 non-null float64
nome_estado                         2204 non-null object
uf_estado                           2204 non-null object
cod_ibge_estado                     2204 non-null int64
geometry                            2204 non-null object
dtypes: float64(3), int64(13), object(8)
memory usage: 413.3+ KB

In [50]:
fogo_2016.to_file(TREAT_PATH / 'fogo_2016_rj.shp')