<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Nível Socioeconômico
---
- Somente 936 escolas estaduais no RJ têm esse indicador

In [2]:
# %load first_cell.py
%reload_ext autoreload
%autoreload 2

from paths import RAW_PATH, TREAT_PATH, OUTPUT_PATH, FIGURES_PATH

from copy import deepcopy
import numpy as np
import pandas as pd
pd.options.display.max_columns = 999
import pandas_profiling

import warnings
warnings.filterwarnings('ignore')

# Plotting
import plotly
import plotly.graph_objs as go
# import cufflinks as cf
plotly.offline.init_notebook_mode(connected=True)

# cf.go_offline()
# cf.set_config_file(offline=False, world_readable=True)

In [5]:
# Nível socioeconômico
# ! pip3 install xlrd

df_inse_2015 = pd.read_excel(RAW_PATH / 'INSE_2015.xlsx')
df_inse_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63258 entries, 0 to 63257
Data columns (total 12 columns):
CO_ESCOLA              63258 non-null int64
NOME_ESCOLA            63258 non-null object
CO_UF                  63258 non-null int64
NOME_UF                63258 non-null object
CO_MUNICIPIO           63258 non-null int64
NOME_MUNICIPIO         63258 non-null int64
ID_AREA                63258 non-null int64
TP_DEPENDENCIA         63258 non-null int64
TP_LOCALIZACAO         63258 non-null int64
QTD_ALUNOS_INSE        63258 non-null int64
INSE_VALOR_ABSOLUTO    63258 non-null float64
INSE_CLASSIFICACAO     63258 non-null object
dtypes: float64(1), int64(8), object(3)
memory usage: 5.8+ MB

In [7]:
df_inse_2015 = df_inse_2015[df_inse_2015['TP_DEPENDENCIA'] == 2] # Escolas estaduais
df_inse_2015 = df_inse_2015[df_inse_2015['CO_UF'] == 33] # no RJ

In [8]:
df_inse_2015.head()

,CO_ESCOLA,NOME_ESCOLA,CO_UF,NOME_UF,CO_MUNICIPIO,NOME_MUNICIPIO,ID_AREA,TP_DEPENDENCIA,TP_LOCALIZACAO,QTD_ALUNOS_INSE,INSE_VALOR_ABSOLUTO,INSE_CLASSIFICACAO
33485,33000026,CE GOVERNADOR ROBERTO SILVEIRA,33,Rio de Janeiro,3300605,3300605,0,2,1,41,49.53,Grupo 3
33486,33000042,CE PADRE MELLO,33,Rio de Janeiro,3300605,3300605,0,2,1,129,46.42,Grupo 3
33488,33000158,CE EUCLIDES FELICIANO TARDIN,33,Rio de Janeiro,3300605,3300605,0,2,1,205,49.97,Grupo 3
33490,33000360,IE EBER TEIXEIRA DE FIGUEIREDO,33,Rio de Janeiro,3300605,3300605,0,2,1,232,50.68,Grupo 3
33492,33000670,CE MARIA DA CONCEICAO PEREIRA PINTO,33,Rio de Janeiro,3300605,3300605,0,2,2,35,46.11,Grupo 3

In [11]:
df_inse_2015['NIVEL'] = df_inse_2015['INSE_CLASSIFICACAO'].apply(lambda x: int(x.split()[1]))

In [12]:
df_inse_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 936 entries, 33485 to 37804
Data columns (total 13 columns):
CO_ESCOLA              936 non-null int64
NOME_ESCOLA            936 non-null object
CO_UF                  936 non-null int64
NOME_UF                936 non-null object
CO_MUNICIPIO           936 non-null int64
NOME_MUNICIPIO         936 non-null int64
ID_AREA                936 non-null int64
TP_DEPENDENCIA         936 non-null int64
TP_LOCALIZACAO         936 non-null int64
QTD_ALUNOS_INSE        936 non-null int64
INSE_VALOR_ABSOLUTO    936 non-null float64
INSE_CLASSIFICACAO     936 non-null object
NIVEL                  936 non-null int64
dtypes: float64(1), int64(9), object(3)
memory usage: 102.4+ KB

In [13]:
df_inse_2015.to_csv(TREAT_PATH / 'inse_2015_rj.csv')