<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Matrículas---Censo-Escolar" data-toc-modified-id="Matrículas---Censo-Escolar-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Matrículas - Censo Escolar</a></span></li><li><span><a href="#Variável-de-evasão" data-toc-modified-id="Variável-de-evasão-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Variável de evasão</a></span></li><li><span><a href="#Variáveis-de-caracterização-dos-alunos" data-toc-modified-id="Variáveis-de-caracterização-dos-alunos-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Variáveis de caracterização dos alunos</a></span><ul class="toc-item"><li><span><a href="#Pessoal" data-toc-modified-id="Pessoal-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Pessoal</a></span></li><li><span><a href="#Transporte" data-toc-modified-id="Transporte-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Transporte</a></span></li><li><span><a href="#Localização" data-toc-modified-id="Localização-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Localização</a></span></li><li><span><a href="#Dados-da-turma" data-toc-modified-id="Dados-da-turma-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Dados da turma</a></span></li></ul></li><li><span><a href="#Filtragem-das-variáveis" data-toc-modified-id="Filtragem-das-variáveis-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Filtragem das variáveis</a></span></li><li><span><a href="#Infos-das-escolas:-Censo-2017" data-toc-modified-id="Infos-das-escolas:-Censo-2017-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Infos das escolas: Censo 2017</a></span><ul class="toc-item"><li><span><a href="#Tratamento-de-variáveis" data-toc-modified-id="Tratamento-de-variáveis-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Tratamento de variáveis</a></span></li></ul></li><li><span><a href="#Nível-socioeconômico" data-toc-modified-id="Nível-socioeconômico-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Nível socioeconômico</a></span></li></ul></div>

In [119]:
# %load first_cell.py
%reload_ext autoreload
%autoreload 2

from paths import RAW_PATH, TREAT_PATH, OUTPUT_PATH, FIGURES_PATH

from copy import deepcopy
import numpy as np
import pandas as pd
pd.options.display.max_columns = 999
import pandas_profiling

import warnings
warnings.filterwarnings('ignore')

# Plotting
import plotly
import plotly.graph_objs as go
# import cufflinks as cf
plotly.offline.init_notebook_mode(connected=True)

# cf.go_offline()
# cf.set_config_file(offline=False, world_readable=True)

### Matrículas - Censo Escolar

In [120]:
os.listdir(TREAT_PATH / 'censo')

['matriculas_rj_2017duplicado.csv',
 'cleaned_matriculas_rj_2016.csv',
 'cleaned_matriculas_rj_2017.csv',
 'matriculas_rj_2016duplicado.csv']

In [213]:
alunos_rj_16 = pd.read_csv(TREAT_PATH / 'censo' / 'cleaned_matriculas_rj_2016.csv')
len(alunos_rj_16)

570111

In [214]:
alunos_rj_16 = alunos_rj_16[alunos_rj_16['TP_ETAPA_ENSINO'].isin([25, 31])] 
alunos_rj_16 = alunos_rj_16[alunos_rj_16['TP_DEPENDENCIA'] == 2] # Escolas estaduais

alunos_rj_16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182838 entries, 118 to 552067
Data columns (total 93 columns):
Unnamed: 0                       182838 non-null int64
NU_ANO_CENSO                     182838 non-null int64
ID_MATRICULA                     182838 non-null int64
NU_DIA                           182838 non-null int64
NU_MES                           182838 non-null int64
NU_ANO                           182838 non-null int64
NU_IDADE_REFERENCIA              182838 non-null int64
NU_IDADE                         182838 non-null int64
NU_DURACAO_TURMA                 182838 non-null int64
NU_DUR_ATIV_COMP_MESMA_REDE      182838 non-null int64
NU_DUR_ATIV_COMP_OUTRAS_REDES    182838 non-null int64
NU_DUR_AEE_MESMA_REDE            182838 non-null int64
NU_DUR_AEE_OUTRAS_REDES          182838 non-null int64
NU_DIAS_ATIVIDADE                182838 non-null int64
TP_SEXO                          182838 non-null int64
TP_COR_RACA                      182838 non-null int64
TP_NACIONALIDADE                 182838 non-null int64
CO_PAIS_ORIGEM                   182838 non-null int64
CO_UF_NASC                       182737 non-null float64
CO_MUNICIPIO_NASC                182737 non-null float64
CO_UF_END                        11814 non-null float64
CO_MUNICIPIO_END                 11814 non-null float64
TP_ZONA_RESIDENCIAL              182838 non-null int64
TP_OUTRO_LOCAL_AULA              182838 non-null int64
IN_TRANSPORTE_PUBLICO            182838 non-null int64
TP_RESPONSAVEL_TRANSPORTE        121962 non-null float64
IN_TRANSP_VANS_KOMBI             121962 non-null float64
IN_TRANSP_MICRO_ONIBUS           121962 non-null float64
IN_TRANSP_ONIBUS                 121962 non-null float64
IN_TRANSP_BICICLETA              121962 non-null float64
IN_TRANSP_TR_ANIMAL              121962 non-null float64
IN_TRANSP_OUTRO_VEICULO          121962 non-null float64
IN_TRANSP_EMBAR_ATE5             121962 non-null float64
IN_TRANSP_EMBAR_5A15             121962 non-null float64
IN_TRANSP_EMBAR_15A35            121962 non-null float64
IN_TRANSP_EMBAR_35               121962 non-null float64
IN_TRANSP_TREM_METRO             121962 non-null float64
IN_NECESSIDADE_ESPECIAL          182838 non-null int64
IN_CEGUEIRA                      964 non-null float64
IN_BAIXA_VISAO                   964 non-null float64
IN_SURDEZ                        964 non-null float64
IN_DEF_AUDITIVA                  964 non-null float64
IN_SURDOCEGUEIRA                 964 non-null float64
IN_DEF_FISICA                    964 non-null float64
IN_DEF_INTELECTUAL               964 non-null float64
IN_DEF_MULTIPLA                  964 non-null float64
IN_AUTISMO                       964 non-null float64
IN_SINDROME_ASPERGER             964 non-null float64
IN_SINDROME_RETT                 964 non-null float64
IN_TRANSTORNO_DI                 964 non-null float64
IN_SUPERDOTACAO                  964 non-null float64
IN_RECURSO_LEDOR                 877 non-null float64
IN_RECURSO_TRANSCRICAO           877 non-null float64
IN_RECURSO_INTERPRETE            877 non-null float64
IN_RECURSO_LIBRAS                877 non-null float64
IN_RECURSO_LABIAL                877 non-null float64
IN_RECURSO_BRAILLE               877 non-null float64
IN_RECURSO_AMPLIADA_16           877 non-null float64
IN_RECURSO_AMPLIADA_20           877 non-null float64
IN_RECURSO_AMPLIADA_24           877 non-null float64
IN_RECURSO_NENHUM                877 non-null float64
TP_INGRESSO_FEDERAIS             0 non-null float64
TP_MEDIACAO_DIDATICO_PEDAGO      182838 non-null int64
IN_ESPECIAL_EXCLUSIVA            182838 non-null int64
IN_REGULAR                       182838 non-null int64
IN_EJA                           182838 non-null int64
IN_PROFISSIONALIZANTE            182838 non-null int64
TP_ETAPA_ENSINO                  182838 non-null int64
ID_TURMA                         182838 non-null int64
CO_CURSO_EDUC_PROFISSIONAL       4176 non-null float64
TP_UNIFICADA                     182838 non-null int64
TP_TIPO_TURMA                    182838 non-null int64
CO_ENTIDADE                      182838 non-null int64
CO_REGIAO                        182838 non-null int64
CO_MESORREGIAO                   182838 non-null int64
CO_MICRORREGIAO                  182838 non-null int64
CO_UF                            182838 non-null int64
CO_MUNICIPIO                     182838 non-null int64
CO_DISTRITO                      182838 non-null int64
TP_DEPENDENCIA                   182838 non-null int64
TP_LOCALIZACAO                   182838 non-null int64
TP_CATEGORIA_ESCOLA_PRIVADA      0 non-null float64
IN_CONVENIADA_PP                 0 non-null float64
TP_CONVENIO_PODER_PUBLICO        0 non-null float64
IN_MANT_ESCOLA_PRIVADA_EMP       0 non-null float64
IN_MANT_ESCOLA_PRIVADA_ONG       0 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIND      0 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIST_S    0 non-null float64
IN_MANT_ESCOLA_PRIVADA_S_FINS    0 non-null float64
TP_REGULAMENTACAO                182838 non-null int64
TP_LOCALIZACAO_DIFERENCIADA      182838 non-null int64
IN_EDUCACAO_INDIGENA             182838 non-null int64
ID                               182838 non-null int64
dtypes: float64(49), int64(44)
memory usage: 131.1 MB

In [215]:
alunos_rj_17 = pd.read_csv(TREAT_PATH / 'censo' / 'cleaned_matriculas_rj_2017.csv')
len(alunos_rj_17)

551630

In [216]:
alunos_rj_17 = alunos_rj_17[alunos_rj_17['TP_ETAPA_ENSINO'].isin([25, 26, 31, 32])] # 1a série do MED
alunos_rj_17 = alunos_rj_17[alunos_rj_17['TP_DEPENDENCIA'] == 2] # Escolas estaduais

alunos_rj_17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296894 entries, 81 to 545157
Data columns (total 93 columns):
Unnamed: 0                       296894 non-null int64
NU_ANO_CENSO                     296894 non-null int64
ID_MATRICULA                     296894 non-null int64
NU_DIA                           296894 non-null int64
NU_MES                           296894 non-null int64
NU_ANO                           296894 non-null int64
NU_IDADE_REFERENCIA              296894 non-null int64
NU_IDADE                         296894 non-null int64
NU_DURACAO_TURMA                 296894 non-null int64
NU_DUR_ATIV_COMP_MESMA_REDE      296894 non-null int64
NU_DUR_ATIV_COMP_OUTRAS_REDES    296894 non-null int64
NU_DUR_AEE_MESMA_REDE            296894 non-null int64
NU_DUR_AEE_OUTRAS_REDES          296894 non-null int64
NU_DIAS_ATIVIDADE                296894 non-null int64
TP_SEXO                          296894 non-null int64
TP_COR_RACA                      296894 non-null int64
TP_NACIONALIDADE                 296894 non-null int64
CO_PAIS_ORIGEM                   296894 non-null int64
CO_UF_NASC                       296708 non-null float64
CO_MUNICIPIO_NASC                296708 non-null float64
CO_UF_END                        19154 non-null float64
CO_MUNICIPIO_END                 19154 non-null float64
TP_ZONA_RESIDENCIAL              296894 non-null int64
TP_OUTRO_LOCAL_AULA              296894 non-null int64
IN_TRANSPORTE_PUBLICO            296894 non-null int64
TP_RESPONSAVEL_TRANSPORTE        206705 non-null float64
IN_TRANSP_VANS_KOMBI             206705 non-null float64
IN_TRANSP_MICRO_ONIBUS           206705 non-null float64
IN_TRANSP_ONIBUS                 206705 non-null float64
IN_TRANSP_BICICLETA              206705 non-null float64
IN_TRANSP_TR_ANIMAL              206705 non-null float64
IN_TRANSP_OUTRO_VEICULO          206705 non-null float64
IN_TRANSP_EMBAR_ATE5             206705 non-null float64
IN_TRANSP_EMBAR_5A15             206705 non-null float64
IN_TRANSP_EMBAR_15A35            206705 non-null float64
IN_TRANSP_EMBAR_35               206705 non-null float64
IN_TRANSP_TREM_METRO             206705 non-null float64
IN_NECESSIDADE_ESPECIAL          296894 non-null int64
IN_CEGUEIRA                      2254 non-null float64
IN_BAIXA_VISAO                   2254 non-null float64
IN_SURDEZ                        2254 non-null float64
IN_DEF_AUDITIVA                  2254 non-null float64
IN_SURDOCEGUEIRA                 2254 non-null float64
IN_DEF_FISICA                    2254 non-null float64
IN_DEF_INTELECTUAL               2254 non-null float64
IN_DEF_MULTIPLA                  2254 non-null float64
IN_AUTISMO                       2254 non-null float64
IN_SINDROME_ASPERGER             2254 non-null float64
IN_SINDROME_RETT                 2254 non-null float64
IN_TRANSTORNO_DI                 2254 non-null float64
IN_SUPERDOTACAO                  2254 non-null float64
IN_RECURSO_LEDOR                 1995 non-null float64
IN_RECURSO_TRANSCRICAO           1995 non-null float64
IN_RECURSO_INTERPRETE            1995 non-null float64
IN_RECURSO_LIBRAS                1995 non-null float64
IN_RECURSO_LABIAL                1995 non-null float64
IN_RECURSO_BRAILLE               1995 non-null float64
IN_RECURSO_AMPLIADA_16           1995 non-null float64
IN_RECURSO_AMPLIADA_20           1995 non-null float64
IN_RECURSO_AMPLIADA_24           1995 non-null float64
IN_RECURSO_NENHUM                1995 non-null float64
TP_INGRESSO_FEDERAIS             0 non-null float64
TP_MEDIACAO_DIDATICO_PEDAGO      296894 non-null int64
IN_ESPECIAL_EXCLUSIVA            296894 non-null int64
IN_REGULAR                       296894 non-null int64
IN_EJA                           296894 non-null int64
IN_PROFISSIONALIZANTE            296894 non-null int64
TP_ETAPA_ENSINO                  296894 non-null int64
ID_TURMA                         296894 non-null int64
CO_CURSO_EDUC_PROFISSIONAL       7816 non-null float64
TP_UNIFICADA                     296894 non-null int64
TP_TIPO_TURMA                    296894 non-null int64
CO_ENTIDADE                      296894 non-null int64
CO_REGIAO                        296894 non-null int64
CO_MESORREGIAO                   296894 non-null int64
CO_MICRORREGIAO                  296894 non-null int64
CO_UF                            296894 non-null int64
CO_MUNICIPIO                     296894 non-null int64
CO_DISTRITO                      296894 non-null int64
TP_DEPENDENCIA                   296894 non-null int64
TP_LOCALIZACAO                   296894 non-null int64
TP_CATEGORIA_ESCOLA_PRIVADA      0 non-null float64
IN_CONVENIADA_PP                 0 non-null float64
TP_CONVENIO_PODER_PUBLICO        0 non-null float64
IN_MANT_ESCOLA_PRIVADA_EMP       0 non-null float64
IN_MANT_ESCOLA_PRIVADA_ONG       0 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIND      0 non-null float64
IN_MANT_ESCOLA_PRIVADA_SIST_S    0 non-null float64
IN_MANT_ESCOLA_PRIVADA_S_FINS    0 non-null float64
TP_REGULAMENTACAO                296894 non-null int64
TP_LOCALIZACAO_DIFERENCIADA      296894 non-null int64
IN_EDUCACAO_INDIGENA             296894 non-null int64
ID                               296894 non-null int64
dtypes: float64(49), int64(44)
memory usage: 212.9 MB

### Variável de evasão

In [220]:
# Total de alunos 1o e 2o MED em 2016
n = len(alunos_rj_16['ID'])
n

182838

In [221]:
df_permanencia_16_17 = alunos_rj_16[alunos_rj_16['ID'].isin(alunos_rj_17['ID'])]['ID']
len(df_permanencia_16_17)

118478

In [222]:
# Percentual de permanência
len(df_permanencia_16_17)/n

0.6479943994136886

In [351]:
alunos_rj_16['IN_EVASAO'] = np.where(alunos_rj_16['ID'].isin(df_permanencia_16_17), 0, 1)
alunos_rj_16.head()

,Unnamed: 0,NU_ANO_CENSO,ID_MATRICULA,NU_DIA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,NU_DURACAO_TURMA,NU_DUR_ATIV_COMP_MESMA_REDE,NU_DUR_ATIV_COMP_OUTRAS_REDES,NU_DUR_AEE_MESMA_REDE,NU_DUR_AEE_OUTRAS_REDES,NU_DIAS_ATIVIDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,CO_PAIS_ORIGEM,CO_UF_NASC,CO_MUNICIPIO_NASC,CO_UF_END,CO_MUNICIPIO_END,TP_ZONA_RESIDENCIAL,TP_OUTRO_LOCAL_AULA,IN_TRANSPORTE_PUBLICO,TP_RESPONSAVEL_TRANSPORTE,IN_TRANSP_VANS_KOMBI,IN_TRANSP_MICRO_ONIBUS,IN_TRANSP_ONIBUS,IN_TRANSP_BICICLETA,IN_TRANSP_TR_ANIMAL,IN_TRANSP_OUTRO_VEICULO,IN_TRANSP_EMBAR_ATE5,IN_TRANSP_EMBAR_5A15,IN_TRANSP_EMBAR_15A35,IN_TRANSP_EMBAR_35,IN_TRANSP_TREM_METRO,IN_NECESSIDADE_ESPECIAL,IN_CEGUEIRA,IN_BAIXA_VISAO,IN_SURDEZ,IN_DEF_AUDITIVA,IN_SURDOCEGUEIRA,IN_DEF_FISICA,IN_DEF_INTELECTUAL,IN_DEF_MULTIPLA,IN_AUTISMO,IN_SINDROME_ASPERGER,IN_SINDROME_RETT,IN_TRANSTORNO_DI,IN_SUPERDOTACAO,IN_RECURSO_LEDOR,IN_RECURSO_TRANSCRICAO,IN_RECURSO_INTERPRETE,IN_RECURSO_LIBRAS,IN_RECURSO_LABIAL,IN_RECURSO_BRAILLE,IN_RECURSO_AMPLIADA_16,IN_RECURSO_AMPLIADA_20,IN_RECURSO_AMPLIADA_24,IN_RECURSO_NENHUM,TP_INGRESSO_FEDERAIS,TP_MEDIACAO_DIDATICO_PEDAGO,IN_ESPECIAL_EXCLUSIVA,IN_REGULAR,IN_EJA,IN_PROFISSIONALIZANTE,TP_ETAPA_ENSINO,ID_TURMA,CO_CURSO_EDUC_PROFISSIONAL,TP_UNIFICADA,TP_TIPO_TURMA,CO_ENTIDADE,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,CO_UF,CO_MUNICIPIO,CO_DISTRITO,TP_DEPENDENCIA,TP_LOCALIZACAO,TP_CATEGORIA_ESCOLA_PRIVADA,IN_CONVENIADA_PP,TP_CONVENIO_PODER_PUBLICO,IN_MANT_ESCOLA_PRIVADA_EMP,IN_MANT_ESCOLA_PRIVADA_ONG,IN_MANT_ESCOLA_PRIVADA_SIND,IN_MANT_ESCOLA_PRIVADA_SIST_S,IN_MANT_ESCOLA_PRIVADA_S_FINS,TP_REGULAMENTACAO,TP_LOCALIZACAO_DIFERENCIADA,IN_EDUCACAO_INDIGENA,ID,IN_EVASAO,IN_DISTORCAO,IN_ESCOLA_RIO
118,118,2016,162295208,2,12,1999,16,17,680,0,0,0,0,5,2,0,1,76,33.0,3301009.0,33.0,3301009.0,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,1,31,6062013,4050.0,0,0,33009627,3,3302,33003,33,3301009,330100905,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,112132289130,0,0,0
122,122,2016,114897083,3,12,1995,20,21,680,0,0,0,0,5,2,0,1,76,33.0,3301009.0,NaN,NaN,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,1,31,6062013,4050.0,0,0,33009627,3,3302,33003,33,3301009,330100905,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,113220290328,1,1,0
124,124,2016,189344,7,5,2000,16,16,680,0,0,0,0,5,2,0,1,76,33.0,3301009.0,NaN,NaN,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,1,31,6060199,4050.0,0,0,33009627,3,3302,33003,33,3301009,330100905,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,112752673352,0,0,0
142,142,2016,239895,19,8,1999,16,17,680,0,0,0,0,5,2,1,1,76,33.0,3304557.0,33.0,3304557.0,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,1,31,6070919,1002.0,0,0,33009627,3,3302,33003,33,3301009,330100905,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,117459545545,0,0,0
150,150,2016,185051,11,10,1998,17,18,680,0,0,0,0,5,2,0,1,76,33.0,3304557.0,NaN,NaN,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,1,31,6060199,4050.0,0,0,33009627,3,3302,33003,33,3301009,330100905,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,113868062938,1,1,0

In [140]:
t = alunos_rj_16[alunos_rj_16['ID'].isin(alunos_rj_17['ID'])]
t['ID'].values[:5]

array([110394863800, 122115666932, 111451406702, 111528082906,
       110470317875])

### Variáveis de caracterização dos alunos

#### Pessoal

* Raça: maioria (46%) não declarada

In [228]:
alunos_rj_16['TP_COR_RACA'].value_counts() # Maioria não declarada

0    84623
3    51340
1    31478
2    14930
4      356
5      111
Name: TP_COR_RACA, dtype: int64

In [271]:
alunos_rj_16['TP_COR_RACA'].value_counts(normalize=True)

0    0.462830
3    0.280795
1    0.172163
2    0.081657
4    0.001947
5    0.000607
Name: TP_COR_RACA, dtype: float64

In [273]:
# Percentual de preenchimento
n = len(alunos_rj_16[alunos_rj_16['TP_COR_RACA'].isnull() == False])
n/len(alunos_rj_16)

1.0

* Sexo: ok

In [270]:
# Percentual de preenchimento
n = len(alunos_rj_16[alunos_rj_16['TP_SEXO'].isnull() == False])
n/len(alunos_rj_16)

1.0

In [383]:
n = alunos_rj_16['TP_SEXO'].value_counts() # Maioria homem
n

1    94256
2    88582
Name: TP_SEXO, dtype: int64

In [384]:
alunos_rj_16['TP_SEXO'].value_counts(normalize=True)

1    0.515516
2    0.484484
Name: TP_SEXO, dtype: float64

In [386]:
# Evadidos: percentual semelhante, pouco mais homens
ev = alunos_rj_16[alunos_rj_16['IN_EVASAO'] == 1]['TP_SEXO'].value_counts()
ev

1    35140
2    29220
Name: TP_SEXO, dtype: int64

In [387]:
ev/n

1    0.372814
2    0.329864
Name: TP_SEXO, dtype: float64

* Idade: ok

In [329]:
# Percentual de preenchimento
n = len(alunos_rj_16[alunos_rj_16['NU_IDADE_REFERENCIA'].isnull() == False])
n/len(alunos_rj_16)

1.0

In [389]:
alunos_rj_16['NU_IDADE_REFERENCIA'].value_counts()[:10] # Maioria entre 14-17, também idades muito discrepantes

15    61605
16    54432
17    35777
18    14741
14     7120
19     4763
20     1959
21      731
22      376
23      219
Name: NU_IDADE_REFERENCIA, dtype: int64

In [390]:
# Distorção idade série: Maior ou igual a 17 anos para o 10 ano do MED
bins_idade = pd.cut(alunos_rj_16['NU_IDADE_REFERENCIA'], [-np.inf, 14, 16, 18, 20, np.inf])
bins_idade.value_counts(normalize=True).sort_index()

(-inf, 14.0]    0.039669
(14.0, 16.0]    0.634644
(16.0, 18.0]    0.276299
(18.0, 20.0]    0.036765
(20.0, inf]     0.012623
Name: NU_IDADE_REFERENCIA, dtype: float64

In [391]:
alunos_rj_16['IN_DISTORCAO'] = np.where(alunos_rj_16['NU_IDADE_REFERENCIA'] >= 17, 1, 0)

In [396]:
n = alunos_rj_16['IN_DISTORCAO'].value_counts()
n

0    123290
1     59548
Name: IN_DISTORCAO, dtype: int64

In [397]:
alunos_rj_16['IN_DISTORCAO'].value_counts(normalize=True)

0    0.674313
1    0.325687
Name: IN_DISTORCAO, dtype: float64

In [398]:
# Evadidos: maior percentual de alunos com distorção idade-série
ev = alunos_rj_16[alunos_rj_16['IN_EVASAO'] == 1]['IN_DISTORCAO'].value_counts()
ev

1    34629
0    29731
Name: IN_DISTORCAO, dtype: int64

In [399]:
ev/n

0    0.241147
1    0.581531
Name: IN_DISTORCAO, dtype: float64

* Deficiência: apenas 0,5%

In [277]:
alunos_rj_16['IN_NECESSIDADE_ESPECIAL'].value_counts(normalize=True) # Quase ninguém com necessidade especial

0    0.994728
1    0.005272
Name: IN_NECESSIDADE_ESPECIAL, dtype: float64

In [278]:
# Percentual de preenchimento
n = len(alunos_rj_16[alunos_rj_16['IN_NECESSIDADE_ESPECIAL'].isnull() == False])
n/len(alunos_rj_16)

1.0

#### Transporte

Tudo preenchido!! 2/3 utiliza transporte público

In [400]:
# Percentual de preenchimento
n = len(alunos_rj_16[alunos_rj_16['IN_TRANSPORTE_PUBLICO'].isnull() == False])
n/len(alunos_rj_16)

1.0

In [405]:
n = alunos_rj_16['IN_TRANSPORTE_PUBLICO'].value_counts() # Já tem uma variação mais razoável: 2/3 utiliza
n

1    121962
0     60876
Name: IN_TRANSPORTE_PUBLICO, dtype: int64

In [406]:
alunos_rj_16['IN_TRANSPORTE_PUBLICO'].value_counts(normalize=True)

1    0.66705
0    0.33295
Name: IN_TRANSPORTE_PUBLICO, dtype: float64

In [409]:
# Evadidos: maior percentual dentre os que não utilizam transporte público
ev = alunos_rj_16[alunos_rj_16['IN_EVASAO'] == 1]['IN_TRANSPORTE_PUBLICO'].value_counts()
ev

1    38918
0    25442
Name: IN_TRANSPORTE_PUBLICO, dtype: int64

In [410]:
ev/n

1    0.319099
0    0.417932
Name: IN_TRANSPORTE_PUBLICO, dtype: float64

#### Localização

* Tipo: menos de 4% rural

In [234]:
alunos_rj_16['TP_LOCALIZACAO'].value_counts() # Maioria urbana: 96% !!

1    176989
2      5849
Name: TP_LOCALIZACAO, dtype: int64

In [235]:
alunos_rj_16['TP_LOCALIZACAO'].value_counts(normalize=True)

1    0.96801
2    0.03199
Name: TP_LOCALIZACAO, dtype: float64

* Escola: 37% no Rio, resto espalhado

In [365]:
alunos_rj_16['CO_MUNICIPIO'].value_counts(normalize=True) # 37% dos alunos estudam no Rio

3304557    0.376027
3301702    0.065774
3303500    0.057417
3304904    0.046801
3305109    0.035288
3300456    0.028178
3301009    0.027347
3303302    0.027128
3302502    0.018629
3303906    0.016178
3306305    0.015484
3301900    0.014833
3303203    0.014390
3302403    0.013690
3304144    0.013449
3300100    0.011682
3305802    0.011196
3300407    0.010200
3302858    0.010096
3303401    0.009150
3302007    0.009134
3300704    0.008751
3304201    0.008439
3304524    0.007641
3302700    0.007559
3300209    0.006684
3302270    0.006158
3305554    0.005650
3302205    0.005546
3305208    0.005535
             ...
3304409    0.001340
3302254    0.001252
3301504    0.001220
3301108    0.001187
3301207    0.001143
3303104    0.001132
3305158    0.001072
3304102    0.001034
3304110    0.000870
3303955    0.000870
3300936    0.000826
3301603    0.000826
3300258    0.000788
3302056    0.000755
3305703    0.000738
3301157    0.000678
3304128    0.000629
3300902    0.000607
3306156    0.000607
3300225    0.000585
3304607    0.000569
3302304    0.000520
3304508    0.000509
3302809    0.000481
3300159    0.000476
3302452    0.000470
3305307    0.000443
3300951    0.000427
3305901    0.000356
3305133    0.000323
Name: CO_MUNICIPIO, Length: 92, dtype: float64

In [366]:
len(alunos_rj_16['CO_MUNICIPIO'].unique())

92

In [367]:
# Percentual de preenchimento
n = len(alunos_rj_16[alunos_rj_16['CO_MUNICIPIO'].isnull() == False])
n/len(alunos_rj_16)

1.0

In [368]:
# Região metropolitana (sem Rio)
"""
São Gonçalo, Duque de Caxias, Nova Iguaçu, Niterói, Belford Roxo, São João de Meriti, Petrópolis, Magé, 
Itaboraí, Mesquita, Nilópolis, Maricá, Queimados, Itaguaí, Japeri, Seropédica, Rio Bonito, Guapimirim, 
Cachoeiras de Macacu, Paracambi Tanguá
"""

regioes = [3304904, 3301702, 3303500, 3303302, 3300456, 3305109, 
          3303906, 3302502, 3301900, 3302858, 3303203, 3302700, 
          3304144, 3302007, 3302270, 3305554, 3304300, 3301850, 
          3300803, 3303609, 3305752]

In [369]:
# 0: Rio, 1: Grande Rio, 2: Outras regiões no estado
alunos_rj_16['IN_LOCAL_ESCOLA'] = np.where(alunos_rj_16['CO_MUNICIPIO'] == 3304557, 0, 
                                           (np.where(alunos_rj_16['CO_MUNICIPIO'].isin(regioes), 1, 2)))

In [411]:
n = alunos_rj_16['IN_LOCAL_ESCOLA'].value_counts()
n

1    71725
0    68752
2    42361
Name: IN_LOCAL_ESCOLA, dtype: int64

In [412]:
# Evadidos: maior percentual de quem é do Rio, muito próximo em valores absolutos do Grande Rio
ev = alunos_rj_16[alunos_rj_16['IN_EVASAO'] == 1]['IN_LOCAL_ESCOLA'].value_counts()
ev

0    27670
1    22731
2    13959
Name: IN_LOCAL_ESCOLA, dtype: int64

In [413]:
ev/n

0    0.402461
1    0.316919
2    0.329525
Name: IN_LOCAL_ESCOLA, dtype: float64

In [341]:
# alunos_rj_16['IN_ESCOLA_RIO'] = np.where(alunos_rj_16['CO_MUNICIPIO'] == 3304557, 1, 0)

# # Evadidos: maior percentual de quem não é do Rio
# alunos_rj_16[alunos_rj_16['IN_EVASAO'] == 1]['IN_ESCOLA_RIO'].value_counts(normalize=True)

# # Não evadidos
# alunos_rj_16[alunos_rj_16['IN_EVASAO'] == 0]['IN_ESCOLA_RIO'].value_counts(normalize=True)

* Residência: 30% no Rio, mas só é respondido por 6% :(

In [241]:
alunos_rj_16['CO_MUNICIPIO_END'].value_counts(normalize=True) # 30% dos alunos moram no Rio

3304557.0    0.309209
3301702.0    0.092517
3303500.0    0.065515
3304904.0    0.032842
3303906.0    0.027087
3302403.0    0.025478
3300803.0    0.024632
3304151.0    0.024378
3303302.0    0.022685
3300456.0    0.022008
3305109.0    0.021754
3301009.0    0.020146
3301900.0    0.018876
3306008.0    0.017522
3303203.0    0.016590
3300407.0    0.012866
3302205.0    0.011850
3305208.0    0.011596
3303401.0    0.010835
3301157.0    0.010665
3304706.0    0.009480
3304607.0    0.008803
3300704.0    0.008041
3306305.0    0.007618
3304755.0    0.007449
3303609.0    0.007279
3300209.0    0.007195
3304805.0    0.007026
3305406.0    0.006772
3304144.0    0.006687
               ...
2803005.0    0.000085
3143906.0    0.000085
2601607.0    0.000085
3304508.0    0.000085
3305133.0    0.000085
2304400.0    0.000085
2304657.0    0.000085
2311959.0    0.000085
2312908.0    0.000085
1721000.0    0.000085
3513009.0    0.000085
2506301.0    0.000085
2509107.0    0.000085
5103403.0    0.000085
2601102.0    0.000085
5208004.0    0.000085
2801207.0    0.000085
2607604.0    0.000085
5215231.0    0.000085
2607901.0    0.000085
5217609.0    0.000085
2611606.0    0.000085
2615300.0    0.000085
2616506.0    0.000085
5300108.0    0.000085
2704302.0    0.000085
2706703.0    0.000085
2707305.0    0.000085
1400100.0    0.000085
3145851.0    0.000085
Name: CO_MUNICIPIO_END, Length: 190, dtype: float64

In [263]:
n = len(alunos_rj_16[alunos_rj_16['CO_MUNICIPIO_END'].isnull() == False]) # Mas são somente 6% que responderam!
n/len(alunos_rj_16)

0.06461457683851278

#### Dados da turma
- 70% entre 20 e 40 alunos

In [303]:
# Percentual de preenchimento
n = len(alunos_rj_16[alunos_rj_16['ID_TURMA'].isnull() == False])
n/len(alunos_rj_16)

1.0

In [438]:
n_alunos_turma = alunos_rj_16[['ID_TURMA', 'ID']].groupby('ID_TURMA').count().rename({'ID': 'N_ALUNOS_TURMA'}, axis=1)
len(n_alunos_turma)

5851

In [439]:
alunos_rj_16['N_ALUNOS_TURMA'] = alunos_rj_16['ID_TURMA'].map(n_alunos_turma['N_ALUNOS_TURMA'])

In [428]:
len(alunos_rj_16)/5851 # Média de alunos pelo total de turmas

31.249017262006493

In [430]:
n_alunos_turma['N_ALUNOS_TURMA'].value_counts()[:10]

33    286
35    282
32    277
34    268
29    266
36    265
31    251
37    250
38    250
30    242
Name: N_ALUNOS_TURMA, dtype: int64

In [444]:
# Distribuição geral
bins_turma = pd.cut(n_alunos_turma['N_ALUNOS_TURMA'], [-np.inf, 10, 20, 30, 40, 50, np.inf])
bins_turma.value_counts(normalize=True)

(30.0, 40.0]    0.426936
(20.0, 30.0]    0.327978
(40.0, 50.0]    0.133481
(10.0, 20.0]    0.096223
(-inf, 10.0]    0.014527
(50.0, inf]     0.000855
Name: N_ALUNOS_TURMA, dtype: float64

In [440]:
alunos_rj_16['N_ALUNOS_TURMA_BIN'] = pd.cut(alunos_rj_16['N_ALUNOS_TURMA'], [-np.inf, 10, 20, 30, 40, 50, np.inf])

In [445]:
# Evadidos: 47% dos jovens evadidos são de turmas de 30-40 alunos
alunos_rj_16[alunos_rj_16['IN_EVASAO'] == 1]['N_ALUNOS_TURMA_BIN'].value_counts(normalize=True)

(30.0, 40.0]    0.475497
(20.0, 30.0]    0.269111
(40.0, 50.0]    0.198602
(10.0, 20.0]    0.050186
(-inf, 10.0]    0.004848
(50.0, inf]     0.001756
Name: N_ALUNOS_TURMA_BIN, dtype: float64

In [454]:
# Criando as categorias
alunos_rj_16['N_TURMA'], n_turma_categorias = pd.factorize(alunos_rj_16['N_ALUNOS_TURMA_BIN'])
alunos_rj_16['N_TURMA'].value_counts(normalize=True)

2    0.480890
0    0.275118
3    0.187067
1    0.051816
4    0.003686
5    0.001422
Name: N_TURMA, dtype: float64

In [455]:
# Checando distribuição
alunos_rj_16['N_ALUNOS_TURMA_BIN'].value_counts(normalize=True)

(30.0, 40.0]    0.480890
(20.0, 30.0]    0.275118
(40.0, 50.0]    0.187067
(10.0, 20.0]    0.051816
(-inf, 10.0]    0.003686
(50.0, inf]     0.001422
Name: N_ALUNOS_TURMA_BIN, dtype: float64

### Filtragem das variáveis

In [456]:
cols = ['ID', 'CO_ENTIDADE', 'TP_SEXO', 'NU_IDADE', 'IN_DISTORCAO', 
        'IN_TRANSPORTE_PUBLICO', 'IN_LOCAL_ESCOLA', 'N_TURMA', 'IN_EVASAO']

In [457]:
df_rj_16 = alunos_rj_16[cols]

### Infos das escolas: Censo 2017

In [458]:
# Total de escolas em 2016
len(df_rj_16['CO_ENTIDADE'].unique())

1097

In [462]:
escolas_rj_16 = pd.read_csv(TREAT_PATH / 'censo' / 'cleaned_escolas_rj_2016.csv')
escolas_rj_16 = escolas_rj_16.drop('Unnamed: 0', axis=1)
escolas_rj_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1689 entries, 0 to 1688
Data columns (total 18 columns):
NU_ANO_CENSO                  1689 non-null int64
CO_ENTIDADE                   1689 non-null int64
CO_MUNICIPIO                  1689 non-null int64
IN_AGUA_FILTRADA              1324 non-null float64
IN_AGUA_INEXISTENTE           1324 non-null float64
IN_ENERGIA_INEXISTENTE        1324 non-null float64
IN_LIXO_COLETA_PERIODICA      1324 non-null float64
IN_LABORATORIO_INFORMATICA    1324 non-null float64
IN_LABORATORIO_CIENCIAS       1324 non-null float64
IN_QUADRA_ESPORTES            1324 non-null float64
IN_COZINHA                    1324 non-null float64
IN_REFEITORIO                 1324 non-null float64
IN_BIBLIOTECA                 1324 non-null float64
IN_BANHEIRO_FORA_PREDIO       1324 non-null float64
IN_BANHEIRO_DENTRO_PREDIO     1324 non-null float64
IN_AREA_VERDE                 1324 non-null float64
NU_COMP_ALUNO                 1324 non-null float64
IN_ALIMENTACAO                1324 non-null float64
dtypes: float64(15), int64(3)
memory usage: 237.6 KB

In [464]:
# Todos os alunos estão em escolas que aparecem na base
alunos_rj_16[alunos_rj_16['CO_ENTIDADE'].isin(escolas_rj_16['CO_ENTIDADE']) == False]

Empty DataFrame
Columns: [Unnamed: 0, NU_ANO_CENSO, ID_MATRICULA, NU_DIA, NU_MES, NU_ANO, NU_IDADE_REFERENCIA, NU_IDADE, NU_DURACAO_TURMA, NU_DUR_ATIV_COMP_MESMA_REDE, NU_DUR_ATIV_COMP_OUTRAS_REDES, NU_DUR_AEE_MESMA_REDE, NU_DUR_AEE_OUTRAS_REDES, NU_DIAS_ATIVIDADE, TP_SEXO, TP_COR_RACA, TP_NACIONALIDADE, CO_PAIS_ORIGEM, CO_UF_NASC, CO_MUNICIPIO_NASC, CO_UF_END, CO_MUNICIPIO_END, TP_ZONA_RESIDENCIAL, TP_OUTRO_LOCAL_AULA, IN_TRANSPORTE_PUBLICO, TP_RESPONSAVEL_TRANSPORTE, IN_TRANSP_VANS_KOMBI, IN_TRANSP_MICRO_ONIBUS, IN_TRANSP_ONIBUS, IN_TRANSP_BICICLETA, IN_TRANSP_TR_ANIMAL, IN_TRANSP_OUTRO_VEICULO, IN_TRANSP_EMBAR_ATE5, IN_TRANSP_EMBAR_5A15, IN_TRANSP_EMBAR_15A35, IN_TRANSP_EMBAR_35, IN_TRANSP_TREM_METRO, IN_NECESSIDADE_ESPECIAL, IN_CEGUEIRA, IN_BAIXA_VISAO, IN_SURDEZ, IN_DEF_AUDITIVA, IN_SURDOCEGUEIRA, IN_DEF_FISICA, IN_DEF_INTELECTUAL, IN_DEF_MULTIPLA, IN_AUTISMO, IN_SINDROME_ASPERGER, IN_SINDROME_RETT, IN_TRANSTORNO_DI, IN_SUPERDOTACAO, IN_RECURSO_LEDOR, IN_RECURSO_TRANSCRICAO, IN_RECURSO_INTERPRETE, IN_RECURSO_LIBRAS, IN_RECURSO_LABIAL, IN_RECURSO_BRAILLE, IN_RECURSO_AMPLIADA_16, IN_RECURSO_AMPLIADA_20, IN_RECURSO_AMPLIADA_24, IN_RECURSO_NENHUM, TP_INGRESSO_FEDERAIS, TP_MEDIACAO_DIDATICO_PEDAGO, IN_ESPECIAL_EXCLUSIVA, IN_REGULAR, IN_EJA, IN_PROFISSIONALIZANTE, TP_ETAPA_ENSINO, ID_TURMA, CO_CURSO_EDUC_PROFISSIONAL, TP_UNIFICADA, TP_TIPO_TURMA, CO_ENTIDADE, CO_REGIAO, CO_MESORREGIAO, CO_MICRORREGIAO, CO_UF, CO_MUNICIPIO, CO_DISTRITO, TP_DEPENDENCIA, TP_LOCALIZACAO, TP_CATEGORIA_ESCOLA_PRIVADA, IN_CONVENIADA_PP, TP_CONVENIO_PODER_PUBLICO, IN_MANT_ESCOLA_PRIVADA_EMP, IN_MANT_ESCOLA_PRIVADA_ONG, IN_MANT_ESCOLA_PRIVADA_SIND, IN_MANT_ESCOLA_PRIVADA_SIST_S, IN_MANT_ESCOLA_PRIVADA_S_FINS, TP_REGULAMENTACAO, TP_LOCALIZACAO_DIFERENCIADA, IN_EDUCACAO_INDIGENA, ID, IN_EVASAO, IN_DISTORCAO, IN_ESCOLA_RIO, IN_LOCAL_ESCOLA, N_ALUNOS_TURMA, N_ALUNOS_TURMA_BIN, N_TURMA]
Index: []

In [472]:
df_rj_16 = df_rj_16.merge(escolas_rj_16, on='CO_ENTIDADE', how='left')
df_rj_16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182838 entries, 0 to 182837
Data columns (total 26 columns):
ID                            182838 non-null int64
CO_ENTIDADE                   182838 non-null int64
TP_SEXO                       182838 non-null int64
NU_IDADE                      182838 non-null int64
IN_DISTORCAO                  182838 non-null int64
IN_TRANSPORTE_PUBLICO         182838 non-null int64
IN_LOCAL_ESCOLA               182838 non-null int64
N_TURMA                       182838 non-null int64
IN_EVASAO                     182838 non-null int64
NU_ANO_CENSO                  182838 non-null int64
CO_MUNICIPIO                  182838 non-null int64
IN_AGUA_FILTRADA              182838 non-null float64
IN_AGUA_INEXISTENTE           182838 non-null float64
IN_ENERGIA_INEXISTENTE        182838 non-null float64
IN_LIXO_COLETA_PERIODICA      182838 non-null float64
IN_LABORATORIO_INFORMATICA    182838 non-null float64
IN_LABORATORIO_CIENCIAS       182838 non-null float64
IN_QUADRA_ESPORTES            182838 non-null float64
IN_COZINHA                    182838 non-null float64
IN_REFEITORIO                 182838 non-null float64
IN_BIBLIOTECA                 182838 non-null float64
IN_BANHEIRO_FORA_PREDIO       182838 non-null float64
IN_BANHEIRO_DENTRO_PREDIO     182838 non-null float64
IN_AREA_VERDE                 182838 non-null float64
NU_COMP_ALUNO                 182838 non-null float64
IN_ALIMENTACAO                182838 non-null float64
dtypes: float64(15), int64(11)
memory usage: 37.7 MB

In [493]:
df_rj_16['NU_COMP_ALUNO'].value_counts()

0.0      33627
10.0     32613
20.0      9566
9.0       8680
17.0      7388
19.0      6961
8.0       6913
15.0      6822
6.0       6747
12.0      6502
7.0       6409
5.0       6239
13.0      5360
18.0      5024
14.0      4510
16.0      4206
22.0      3433
11.0      2651
25.0      2626
23.0      1792
24.0      1474
21.0      1464
27.0      1387
28.0      1190
26.0      1057
60.0       827
1.0        732
36.0       668
30.0       655
70.0       606
4.0        572
3.0        507
29.0       504
68.0       360
50.0       351
55.0       343
32.0       316
76.0       293
31.0       249
34.0       231
281.0      219
40.0       179
72.0       166
138.0      114
67.0        88
38.0        83
49.0        72
115.0       62
Name: NU_COMP_ALUNO, dtype: int64

In [506]:
# Número médio por turma: 30 / 2 alunos por computador na aula = 15
pd.cut(df_rj_16['NU_COMP_ALUNO'], [-np.inf, 15, np.inf]).value_counts(normalize=True)

(-inf, 15.0]    0.704908
(15.0, inf]     0.295092
Name: NU_COMP_ALUNO, dtype: float64

In [508]:
df_rj_16['IN_N_COMP_15'] = pd.cut(df_rj_16['NU_COMP_ALUNO'], [-np.inf, 15, np.inf], labels=[0,1])
df_rj_16['IN_N_COMP_15'].value_counts(normalize=True)

0    0.704908
1    0.295092
Name: IN_N_COMP_15, dtype: float64

### Nível socioeconômico

- Somente 936 escolas estaduais no RJ possuem o indicador de nível socioeconômico: perdemos 20% dos alunos!

In [475]:
inse_rj_2015 = pd.read_csv(TREAT_PATH / 'inse_2015_rj.csv')
inse_rj_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 14 columns):
Unnamed: 0             936 non-null int64
CO_ESCOLA              936 non-null int64
NOME_ESCOLA            936 non-null object
CO_UF                  936 non-null int64
NOME_UF                936 non-null object
CO_MUNICIPIO           936 non-null int64
NOME_MUNICIPIO         936 non-null int64
ID_AREA                936 non-null int64
TP_DEPENDENCIA         936 non-null int64
TP_LOCALIZACAO         936 non-null int64
QTD_ALUNOS_INSE        936 non-null int64
INSE_VALOR_ABSOLUTO    936 non-null float64
INSE_CLASSIFICACAO     936 non-null object
NIVEL                  936 non-null int64
dtypes: float64(1), int64(10), object(3)
memory usage: 102.5+ KB

In [478]:
len(df_rj_16[df_rj_16['CO_ENTIDADE'].isin(inse_rj_2015['CO_ESCOLA'])])/len(df_rj_16)

0.8162088843675822

In [480]:
inse_rj_2015 = inse_rj_2015.rename({'CO_ESCOLA': 'CO_ENTIDADE'}, axis=1)

df_rj_16 = df_rj_16.merge(inse_rj_2015[['CO_ENTIDADE', 'NIVEL']], on='CO_ENTIDADE', how='left')
df_rj_16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182838 entries, 0 to 182837
Data columns (total 27 columns):
ID                            182838 non-null int64
CO_ENTIDADE                   182838 non-null int64
TP_SEXO                       182838 non-null int64
NU_IDADE                      182838 non-null int64
IN_DISTORCAO                  182838 non-null int64
IN_TRANSPORTE_PUBLICO         182838 non-null int64
IN_LOCAL_ESCOLA               182838 non-null int64
N_TURMA                       182838 non-null int64
IN_EVASAO                     182838 non-null int64
NU_ANO_CENSO                  182838 non-null int64
CO_MUNICIPIO                  182838 non-null int64
IN_AGUA_FILTRADA              182838 non-null float64
IN_AGUA_INEXISTENTE           182838 non-null float64
IN_ENERGIA_INEXISTENTE        182838 non-null float64
IN_LIXO_COLETA_PERIODICA      182838 non-null float64
IN_LABORATORIO_INFORMATICA    182838 non-null float64
IN_LABORATORIO_CIENCIAS       182838 non-null float64
IN_QUADRA_ESPORTES            182838 non-null float64
IN_COZINHA                    182838 non-null float64
IN_REFEITORIO                 182838 non-null float64
IN_BIBLIOTECA                 182838 non-null float64
IN_BANHEIRO_FORA_PREDIO       182838 non-null float64
IN_BANHEIRO_DENTRO_PREDIO     182838 non-null float64
IN_AREA_VERDE                 182838 non-null float64
NU_COMP_ALUNO                 182838 non-null float64
IN_ALIMENTACAO                182838 non-null float64
NIVEL                         149234 non-null float64
dtypes: float64(16), int64(11)
memory usage: 39.1 MB

In [482]:
df_rj_16[df_rj_16['IN_EVASAO'] == 1]['NIVEL'].fillna(-1).value_counts()

 3.0    44000
-1.0    14670
 4.0     5125
 2.0      362
 5.0      162
 6.0       28
 1.0       13
Name: NIVEL, dtype: int64

In [483]:
14670/len(df_rj_16[df_rj_16['IN_EVASAO'] == 1])

0.22793660658794282

In [510]:
df_work = df_rj_16[df_rj_16['NIVEL'].isnull() == False]
df_work = df_work.drop(['CO_MUNICIPIO', 'NU_COMP_ALUNO'], axis=1)
df_work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149234 entries, 0 to 182836
Data columns (total 26 columns):
ID                            149234 non-null int64
CO_ENTIDADE                   149234 non-null int64
TP_SEXO                       149234 non-null int64
NU_IDADE                      149234 non-null int64
IN_DISTORCAO                  149234 non-null int64
IN_TRANSPORTE_PUBLICO         149234 non-null int64
IN_LOCAL_ESCOLA               149234 non-null int64
N_TURMA                       149234 non-null int64
IN_EVASAO                     149234 non-null int64
NU_ANO_CENSO                  149234 non-null int64
IN_AGUA_FILTRADA              149234 non-null float64
IN_AGUA_INEXISTENTE           149234 non-null float64
IN_ENERGIA_INEXISTENTE        149234 non-null float64
IN_LIXO_COLETA_PERIODICA      149234 non-null float64
IN_LABORATORIO_INFORMATICA    149234 non-null float64
IN_LABORATORIO_CIENCIAS       149234 non-null float64
IN_QUADRA_ESPORTES            149234 non-null float64
IN_COZINHA                    149234 non-null float64
IN_REFEITORIO                 149234 non-null float64
IN_BIBLIOTECA                 149234 non-null float64
IN_BANHEIRO_FORA_PREDIO       149234 non-null float64
IN_BANHEIRO_DENTRO_PREDIO     149234 non-null float64
IN_AREA_VERDE                 149234 non-null float64
IN_ALIMENTACAO                149234 non-null float64
NIVEL                         149234 non-null float64
IN_N_COMP_15                  149234 non-null category
dtypes: category(1), float64(15), int64(10)
memory usage: 29.7 MB

In [513]:
df_work['IN_EVASAO'].value_counts(normalize=True)

0    0.667033
1    0.332967
Name: IN_EVASAO, dtype: float64

In [511]:
df_work.to_csv(TREAT_PATH / 'analysis' / 'df_alunos.csv')